{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% if form.instance.pk %}Update{% else %}Create{% endif %}Member Information{% endblock %}
{% block main %}

<div class="container">
    <div class="mx-auto wow bounceInUp rounded my-3" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown ">
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page"> <a href="{% url "members:member_list" %}">memberInformation<span class="px-1">\</span></a></li>
                </ol>
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 bolder text-light ">የአባልነት ወቅታዊ የቤተሰብ ሁኔታ መረጃ መጠየቆች</h3>
            <h3 class="mb-2 text-light ">Members' current family status information requests</h3>
        </div>
        <div class="text-center py-2 px-2 ">
            <p class="small">ከዚህ በታች የተዘረዘሩትን መጠየቆች ለቤተክርስቲያኖች መረጃ የረዳን ዘንድ አሁን ያሉበትን ትክክለኛ አድራሻ ስልክ ቁጥርና የቤተሰብ የተሟላ የቤተሰብ መረጃ ይሞሉልን ዘንድ አንጠይቃለን ።</p>
            <p class="small">To assist our church, kindly provide your current address, phone number, and family details by completing the attached questionnaire.</p>
        </div>
    </div>
    <div class="row g-1">
        <div class="col-md-8 col-lg-8">
            <div class="card shadow rounded  border-primary">
                <div class="card-header bg-white d-flex justify-content-between ">
                    <div><h3 class="text-primary">Yours Member Information</h3></div>
                    {% if members %}
                        {% for member in members %}
                            {% if user.is_authenticated and member.user.username == user.username %}
                            <div class="small"><a href="{% url 'members:member_update' member.id %}" class="text-primary"><i class="bi bi-pencil-square px-2"></i></a></div>     
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="small"><a href="{% url 'members:member_create' %}" class="btn btn-primary">Create</a></div>
                    {% endif %}
                    
                </div>
                <div class="card-body bd-content">
                {% if members %}
                    {% for member in members %}
                        {% if user.is_authenticated and member.user.username == user.username %}
                            <div class="table-responsive">
                                <table class="table text-primary">
                                <thead>
                                <tr>
                                <th>Title</th>
                                <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><code>Full Name </code></td>
                                    <td>{{ member.full_name }}</td>
                                </tr>
                                <tr>
                                    <td><code>Baptismal Name</code></td>
                                    <td>{{ member.baptismal_name }}</td>
                                </tr>
                                <tr>
                                    <td><code>Godfather </code></td>
                                    <td>{{ member.godfather }}</td>
                                </tr>
                                <tr>
                                    <td><code>City </code></td>
                                    <td>{{ member.city }}</td>
                                </tr>
                                <tr>
                                    <td><code>State </code></td>
                                    <td>{{ member.state }}</td>
                                </tr>
                                <tr>
                                    <td><code>Email </code></td>
                                    <td>{{ member.email }}</td>
                                </tr>
                                <tr>
                                    <td><code>Zip Code </code></td>
                                    <td>{{ member.zip_code }}</td>
                                </tr>
                                <tr>
                                    <td><code>Apartment </code></td>
                                    <td>{{ member.apartment }}</td>
                                </tr>
                                <tr>
                                    <td><code>Telephone </code></td>
                                    <td>{{ member.telephone_number }}</td>
                                </tr>
                                <tr>
                                    <td><code>Marital Status </code></td>
                                    <td>{{ member.marital_status }}</td>
                                </tr>
                                {% if member.marital_status == 'married' %}
                                <tr>
                                    <td><code>Spouse Full Name </code></td>
                                    <td>{{ member.spouse_name }}</td>
                                </tr>
                                <tr>
                                    <td><code>Spouse Baptismal Name </code></td>
                                    <td>{{ member.spouse_name }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
                                </table>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        To assist our church, kindly provide your current address, phone number, and family details by completing the attached questionnaire."
                        clicked the Membership Information button and submit your information **ቤተ ክርስቲያናችንን ለመርዳት፣ የተያያዘውን መጠይቅ በመሙላት ወቅታዊ አድራሻችሁን፣ ስልክ ቁጥራችሁን እና የቤተሰብ ዝርዝሮችን በአክብሮት ያቅርቡ።
                        ስልክ ቁጥራችሁን እና የቤተሰብ ዝርዝሮችን በአክብሮት ያቅርቡ።
                        ከላይ የአባልነት መረጃ ቁልፍን በመጠቀም መረጃዎን ያስገቡ:: **
                    </div>
                {% endif %}
                    
                </div>
                {% if members %}
                    {% for member in members %}
                        {% if user.is_authenticated and member.user.username == user.username %}
                            {% if member.children.all %}
                            <div class="card-title bg-white border py-2 px-4 rounded-top d-flex justify-content-between">
                                <div class=""><h6 class="text-primary">Yours Children Information</h6></div>
                                <span class="fs-5" data-bs-toggle="modal" data-bs-target="#childModal">
                                    <i class="bi bi-plus-square fs-5 text-primary"></i>
                                </span>
                            </div>
                        
                            <div class="card-body bd-content">
                                <div class="table-responsive">
                                    <table class="table text-primary">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>Gender</th>
                                            </tr>
                                            </thead>
                                                <tbody>
                                                    {% for children in member.children.all %}
                                                    <tr>
                                                        <td>{{children.name}}</td>
                                                        <td>{{children.age}}</td>
                                                        <td>{{children.gender}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                    </table>
                                </div>
                            </div> 
                            {% else %}
                            <div class="card-title bg-white border py-2 px-3 rounded-top d-flex justify-content-between">
                                <div class=""><h6 class="text-primary">Yours Children Information</h6></div>
                                <span class="" data-bs-toggle="modal" data-bs-target="#childModal">
                                    <i class="bi bi-plus-square fs-5 text-primary"></i>
                                </span>
                            </div>
                            <div class="card-body bd-content">
                               you can add Your Children Information if any.
                            </div> 
                            {% endif %} 
                              
                            {% if member.relatives.all %}         
                            <div class="card-title bg-white border py-2 rounded-top px-3 rounded-top d-flex justify-content-between">
                                <div class=""><h6 class="text-primary">Yours Relative Information</h6></div>
                                <div class="">
                                    <span class="" data-bs-toggle="modal" data-bs-target="#relativeModal">
                                        <i class="bi bi-plus-square fs-5 text-primary"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body bd-content">
                                <div class="table-responsive">
                                    <table class="table text-primary">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Relationship</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for relative in member.relatives.all %}
                                                <tr>
                                                    <td>{{relative.name}}</td>
                                                    <td>{{relative.relationship}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% else %}
                            <div class="card-title bg-white border py-2 px-3 rounded-top d-flex justify-content-between">
                                <div class=""><h6 class="text-primary">Yours Relative  Information</h6></div>
                                <div class="">
                                    <span  class="" data-bs-toggle="modal" data-bs-target="#relativeModal">
                                        <i class="bi bi-plus-square fs-5 text-primary"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body bd-content">
                               you can add Your Relative Information if any.
                            </div> 
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card shadow rounded  border-primary">
                <div class="card-header bg-white d-flex justify-content-between ">
                    <div><h6 class="text-primary">Benfite of bening a active member</h6></div>    
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Access to exclusive religious content</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Community engagement and support</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Regular updates on church events and activities</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Opportunities for spiritual growth and learning</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Connection with fellow members worldwide</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Participation in church rituals and ceremonies</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Guidance from clergy and spiritual leaders</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Discounts on religious merchandise and services</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Special prayers and blessings for members</li>
                        <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> Contribution to the preservation of Ethiopian Orthodox Tewahedo traditions</li>
                      </ul>   
                </div>
                <div class="card-header bg-white d-flex justify-content-between">
                    <div><h6 class="text-primary">የነቃ አባል የመሆን ጥቅም</h6></div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> ልዩ ጸሎቶች እና በረከቶች ለአባላት</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ትውፊት ተጠብቆ እንዲቆይ አስተዋጽኦ</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> ልዩ የሆነ ሃይማኖታዊ ይዘት መድረስ</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i>የማህበረሰብ ተሳትፎ እና ድጋፍ</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> በቤተክርስቲያን ሁነቶች እና እንቅስቃሴዎች ላይ መሳተፍ</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> የመንፈሳዊ እድገት እና የመማር እድሎች</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> በዓለም ዙሪያ ካሉ አባላት ጋር ግንኙነት</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> በቤተ ክርስቲያን ሥርዓቶች እና ሥርዓቶች መሳተፍ</li>
                    <li class="list-group-item small text-primary"><i class="bi bi-check text-primary"></i> ከቀሳውስትና ከመንፈሳዊ መሪዎች የተሰጠ መመሪያ</li>

                   </ul>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#childModal">
      Add Child
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#relativeModal">
      Add Relative
    </button> {% endcomment %}

    <!-- Child Modal -->
    <div class="modal fade" id="childModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="childModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="childModalLabel">Add Child</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'members:child_create' %}">
              {% csrf_token %}
              {{ child_form|crispy }}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Relative Modal -->
    <div class="modal fade" id="relativeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="relativeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="relativeModalLabel">Add Relative</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'members:relative_create' %}">
              {% csrf_token %}
              {{ relative_form|crispy}}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}