{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password Changed{% endblock %}

{% block main %}
<div class="py-5 px-3" style="background-image: url('{% static "img/heroAccount-6.png" %}');" alt="Church-at">
  <div class="card border-primary m-auto mb-3" style="max-width: 30rem">
    <div class="card-header text-center">Password Changed</div>
    <div class="card-body">
      <p class="card-text text-center">
        Your password has been changed.
        <a href="{% url 'account_login' %}">Log in</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}