{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}marriage School Premarital and Potmarital corsers list{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">coursesList</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-1">
                <h6 class="mb-2 bolder text-light fs-6">ወደ ጋብቻ ትምህርት ቤት እንኳን ደህና መጡ</h6>
                <h1 class="mb-2 text-light fs-4">welcome to  marriage School</h1>
                <p class="mx-1 small">Premarital and Potmarital counseling can matter significantly for couples as it helps build a strong foundation for marriage.</p>
                <p class="mx-1 small">ከጋብቻ በፊት እና ከጋብቻ በኋላ የሚደረግ ምክር ለትዳር ጠንካራ መሰረትን ለመገንባት ስለሚረዳ ጥንዶች ጠቃሚ ሊሆኑ ይችላሉ።</p>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav nav-pills mb-3 justify-content-center" id="nav-tab" role="tablist">
          <button
            class="nav-link active small btn btn-sm"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
          <i class="fas fa-book-reader  fa-1x px-2"></i>
           PreMarital | የቅድመ ጋብቻ ትምህርት
          </button>
          <button
            class="nav-link small btn btn-sm"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
          <i class="fas fa-book  fa-1x px-2"></i>
          PostMarital | የድህረ-ጋብቻ ትምህርት
          </button>
          <button
            class="nav-link small btn btn-sm"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
          <i class="bi bi-collection-fill fa-1x px-2"></i> AllResources | ሁሉም መርጃዎች
          </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- Pre-Marital Course -->
        <div
          class="tab-pane fade show active py-4"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
          tabindex="0"
        >
        <!-- Pre-Marital Course Section -->
        
            <div class="card border-primary"> 
                <div class="card-body">
                    <h3 class="mx-3 fs-5 pt-2">Pre-Marital courses | የቅድመ ጋብቻ ኮርሶች </h3>
                    <p class="mx-3 small">Pre-Marital Courses from an Ethiopian Orthodox Tewahedo Perspective*ከጋብቻ በፊት የሚሰጠው ትምህርቶች ከኢትዮጵያ ኦርቶዶክስ ተዋሕዶ አንጻር</p>
                    <small class="mx-3 pb-2"><strong>Instructions:</strong> Review the course content and supporting resources, then complete the quiz for the courses listed below.Good luck! </small>
                    <hr>
                    <div class="row row-cols-1 row-cols-md-3 my-2 pb-3 g-4">
                            {% for course in courses %}
                                {% if course.category == 'PreMarital' %}
                                    <div class="col">
                                    <div class="card shadow">
                                        <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                        <div class="card-body">
                                        <h3 class="card-title fs-6">{{ course.title|truncatewords:5 }}</h3>
                                        <small> Status: {% if course.is_completed %}
                                            <span class="text-success">successfuly Completion</span>
                                            {% else %}
                                            <span class="text-danger">Incomplete</span>
                                            {% endif %}
                                        </small>
                                        <hr>
                                        <p class="card-text small">{{ course.description|truncatewords:10 }}</p>
                                        <a href="{% url 'marriage:course_detail' course.slug %}" class="btn btn-sm btn-primary">Start</a>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                    <hr>
                    <!-- Pagination Section -->
                    <div class="row my-2 ">
                        <div class="col-lg-8 small">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>     
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Resources Section -->
            <div class="card my-4"> 
                <div class="card-body">
                
                    <h3 class="mx-3 fs-5">Related Resources</h3>     
                    <hr>                          
                    <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                        {% for resource in resources %}
                            {% if resource.category == 'PreMarital' %}
                                <div class="col">
                                <div class="card shadow">
                                    <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                    <div class="card-body">
                                    <h3 class="card-title fs-4">{{ resource.title }}</h3>
                                    <hr>
                                    <p class="card-text small">{{ resource.description|truncatewords:10 }}</p>
                                    <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <!--  Post-Marital Course Section -->
        <div
          class="tab-pane fade py-4"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
          tabindex="0"
        >
          
            <!-- Post-Marital Course Section -->
            <div class="card border-primary"> 
                <div class="card-body">
                    <h3 class="mx-3 fs-5 py-2">Post-Marital Course | የድህረ-ጋብቻ ትምህርት </h3>
                    <small class="mx-3 pb-2"><strong>Instructions:</strong> Review the course content and supporting resources, then complete the quiz for the courses listed below.Good luck! </small>
                    <hr>
                    <div class="row row-cols-1 row-cols-md-3 my-3 pb-3 g-4">
                            {% for course in courses %}
                                {% if course.category == 'PostMarital' %}
                                    <div class="col">
                                    <div class="card shadow">
                                        <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                        <div class="card-body">
                                        <h3 class="card-title fs-4">{{ course.title }}</h3>
                                        <small> Status: {% if course.is_completed %}
                                            <span class="text-success">successfuly Completion</span>
                                            {% else %}
                                            <span class="text-danger small">Incomplete</span>
                                            {% endif %}
                                        </small>
                                        <hr>
                                        <p class="card-text small">{{ course.description|truncatewords:10 }}</p>
                                        <a href="{% url 'marriage:course_detail' course.slug %}" class="btn btn-sm btn-primary">Start</a>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                    <hr>
                    <!-- Pagination Section -->
                    <div class="row my-2 ">
                        <div class="col-lg-8 small">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>     
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Resources Section -->
            <div class="card my-4"> 
                <div class="card-body">
                
                    <h3 class="mx-3">Related Resources</h3>     
                    <hr>                          
                    <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                        {% for resource in resources %}
                            {% if resource.category == 'PostMarital' %}
                                <div class="col">
                                <div class="card shadow">
                                    <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                    <div class="card-body">
                                    <h3 class="card-title fs-4">{{ resource.title }}</h3>
                                    <hr>
                                    <p class="card-text small">{{ resource.description|truncatewords:10 }}</p>
                                    <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
          tabindex="0"
        >
           <div class="card-header bg-white">All Resources | ሁሉም መርጃዎች </div>
            <!-- Resources Section -->
            <div class="card my-4"> 
                <div class="card-body">
                
                    <h3 class="mx-3 fs-5">PreMarital Related Resources</h3>     
                    <hr>                          
                    <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                        {% for resource in resources %}
                            {% if resource.category == 'PreMarital' %}
                                <div class="col">
                                <div class="card shadow">
                                    <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                    <div class="card-body">
                                    <h3 class="card-title fs-4">{{ resource.title }}</h3>
                                    <hr>
                                    <p class="card-text small">{{ resource.description|truncatewords:10 }}</p>
                                    <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Resources Section -->
            <div class="card my-4"> 
                <div class="card-body">
                    <h3 class="mx-3 fs-5">PostMarital Related Resources</h3>     
                    <hr>                          
                    <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                        {% for resource in resources %}
                            {% if resource.category == 'PostMarital' %}
                                <div class="col">
                                <div class="card shadow">
                                    <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                                    <div class="card-body">
                                    <h3 class="card-title fs-4">{{ resource.title }}</h3>
                                    <hr>
                                    <p class="card-text small">{{ resource.description|truncatewords:10 }}</p>
                                    <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a>
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>
{% endblock %}