{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}marriage School Premarital and Postmarital corsers detail{% endblock %}
{% block main %}
<div class="container mt-2">
     <!-- breadcrumb -->
     <div class="event pb-2">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown small">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:course_list' %}">coursesList<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">courseDetail</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-1">
                <h1 class="mb-2 text-light fs-4">Course Detail</h1>
            </div>
        </div>
    </div>
    <!-- Rendering detail title -->
    <div class="container mt-1 p-3">
        <h3 class="text-primary fs-4">{{course_detail.title}}</h3>
        <hr>
        <p class="small lh-lg">{{course_detail.description}}</p>
        <hr>
    </div>
   
    <!-- Rendering Subtitles -->
    <div class="container mt-1 p-3">
        <ul>
            {% for subtitle in course_detail.subtitles.all %}
                <li>
                    <h3 class="text-primary fs-5">{{ subtitle.subtitle }}</h3>
                    <p class="small lh-lg">{{ subtitle.description }}</p>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
    <!-- Rendering resource -->
    <div class="container mt-1 ">
        <!-- resource Section -->
        {% comment %} <h3 class="mt-3 fs-4 text-primary px-2">Resource list Related with the Course</h3> {% endcomment %}
        {% if resources %}

            <div class="card mt-2 ">
                <div class="card-header bg-white">
                    <h6>Resource list Related with the Course</h6>
                </div>
                <div class="card-body small mx-2">
                    <div class="row row-cols-1 row-cols-md-3 my-2 pb-3 g-4">
                    {% for resource in resources %}
                    {% if resource.category == course_detail.category %}
                        <div class="col">
                        <div class="card shadow">
                            <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                            <div class="card-body">
                            <h3 class="card-title fs-5">{{ resource.title }}</h3>
                            <small>{{resource.category }}</small>
                            <hr>
                            <p class="card-text small lh-lg">{{ resource.description|truncatewords:10 }}</p>
                            <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>No resource available for this course.</p>
        {% endif %}
    </div>
    <!-- Rendering Quiz -->
    <div class="container my-3 py-3">
        <!-- Quizzes Section -->
       
        {% if quizzes %}
            {% for quiz in quizzes %}
            <div class="card">
                <div class="card-header bg-white">
                    <strong class=""> <h3 class="fs-5 text-primary text-center">Take the Quizzes and complete the course</h3>
                </div>
                <div class="card-header bg-white">
                    <strong class="">{{ quiz.quiz_title }}</strong>
                </div>
                <div class="card-body small my-3 mx-2">
                    <form method="post" action="{% url 'marriage:submit_quiz' quiz.id %}">
                        {% csrf_token %}
                        {% for question in questions %}
                            {% if question.quiz == quiz %}
                            <div class="mb-3">
                                <label><strong>{{ question.number }}. {{ question.question_text }}</strong></label>
                                {% for answer in answers %}
                                    {% if answer.question == question %}
                                    <div class="form-check mx-3 p-2">
                                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="answer_{{ answer.id }}" value="{{ answer.id }}">
                                        <label class="form-check-label" for="answer_{{ answer.id }}">
                                            {{ answer.answer_text }}
                                        </label>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit Quiz</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No quizzes available for this course.</p>
        {% endif %}
    </div>
    <!--quations_answers_create-->
    <div class="container my-3 py-3">
        <div class="card">
            <div class="card-header bg-white">
                <h3 class="fs-5 text-primary text-center">We welcome your questions or comments about the course and will get back to you as soon as possible.</h3>
                <p class="text-primary  small text-center">ስለ ኮርሱ ርዕስ የእርስዎን ጥያቄዎች ወይም አስተያየቶች በደስታ እንቀበላለን እና በተቻለ ፍጥነት ወደ እርስዎ እንመለሳለን።</p>
            </div>
            <div class="card-body ">
                <!-- quations_answers -->
                <div class="container mt-2">
                    <form class="mb-4 small" method="POST" action="{% url "marriage:quations_answers_create" %}" >
                        <input type="hidden" name="csrfmiddlewaretoken" value="k4v0FWDC7GKGRVJbRQm3pec2YIymxbLMnJDjPo5JU127iPiCrTjts6EJoommdcSF">
                        <input type="hidden" name="course" id="id_course"  value="{{course_detail.id}}"> 
                        <div id="div_id_question" class="mb-3"> 
                            <label for="id_question" class="form-label requiredField">
                            Question<span class="asteriskField">*</span> </label> 
                            <textarea name="question" cols="10" rows="4" 
                            class="w-100 form-control form-control-sm mb-4 p-3 border-primary bg-light textarea" 
                            placeholder="Leave your short and brief questions here, and we'll respond promptly!" 
                            required="" 
                            maxlength="2000" id="id_question" 
                            spellcheck="false" required></textarea> 
                        </div>
                        
                        <button name="questions_and_answers" type="submit" class="btn btn-sm  btn-primary">submit</button>                           
                    </form>
                </div>
            </div>
           
            <div class="card-body">
                <hr>
                {% if quationsAnswerData %}
                    {% for quationsAndAnswer in quationsAnswerData %}
                        {% if quationsAndAnswer.viewed_by == 'public' %}
                            <div class='border rounded p-2 my-2 small'>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-3 small">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{% static 'img/icon/Quationes.png' %}" alt="50x50 user image">
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold py-1 fs-6">{{ quationsAndAnswer.user }}(you)</div>
                                        <hr>
                                        <span>{{ quationsAndAnswer.question }}?</span>
                                    </div>
                                </div>
                                <!-- Respond comment-->
                                <div class="d-flex small">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{% static 'img/icon/Ansewr.png' %}" alt="answer">
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">marriage School.....</div>
                                        <hr>
                                        {% if quationsAndAnswer.answer %}
                                            <span>{{ quationsAndAnswer.answer }}</span>
                                        {% else %}
                                            <span>The answer will be available soon. Thank you for your patience!</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elif quationsAndAnswer.viewed_by == 'private' and user.is_authenticated and user.username == quationsAndAnswer.user.username %}
                            <div class='border rounded p-2 my-2'>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-3 small">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{% static 'img/icon/Quationes.png' %}" alt="50x50 user image">
                                    </div>
                                    <div class="ms-3 small">
                                        <div class="fw-bold py-1 ">{{ quationsAndAnswer.user }}</div>
                                        <hr>
                                        <span>{{ quationsAndAnswer.question }}?</span>
                                    </div>
                                </div>
                                <!-- ansewr comment-->
                                <div class="d-flex small">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{% static 'img/icon/Ansewr.png' %}" alt="answer">
                                    </div>
                                    <div class="ms-3 small">
                                        <div class="fw-bold">marriage School</div>
                                        <hr>
                                        {% if quationsAndAnswer.answer %}
                                            <span>{{ quationsAndAnswer.answer }}</span>
                                        {% else %}
                                            <span>The answer will be available soon. Thank you for your patience!</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            
        </div>
    </div>
    
</div>
{% endblock %}