{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}marriage School Premarital and Potmarital corsers list{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">Courses</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-1">
                <h4 class="mb-2 bolder text-light fs-4">ወደ ጋብቻ ትምህርት ቤት እንኳን ደህና መጡ</h4>
                <h1 class="mb-2 text-light fs-4">welcome to  marriage School</h1>
                <p class="mx-1 small">Premarital and Potmarital counseling can matter significantly for couples as it helps build a strong foundation for marriage.</p>
                <p class="mx-1 small">ከጋብቻ በፊት እና ከጋብቻ በኋላ የሚደረግ ምክር ለትዳር ጠንካራ መሰረትን ለመገንባት ስለሚረዳ ጥንዶች ጠቃሚ ሊሆኑ ይችላሉ።</p>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs mb-3 border-primary" id="nav-tab" role="tablist">
          <button
            class="nav-link active small btn btn-sm"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            PreMarital | የቅድመ ጋብቻ ትምህርት
          </button>
          <button
            class="nav-link small btn btn-sm"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            PostMarital | የድህረ-ጋብቻ ትምህርት
          </button>
          <button
            class="nav-link small btn btn-sm"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
            AllResources | ሁሉም መርጃዎች
          </button>
        </div>
    </nav>
    <div class="tab-content p-3 " id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
          tabindex="0"
        >
          <h3 class="m-2 fs-5">Pre-Marital Course| የቅድመ ጋብቻ ኮርሶች </h3>
          <small><strong>Instructions:</strong> Review the course content and supporting resources, then complete the quiz for the courses listed below.Good luck! </small>
          <hr>
            <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                {% for course in courses %}
                    {% if course.category == 'PreMarital' %}
                        <div class="col">
                        <div class="card">
                            <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                            <div class="card-body">
                            <h3 class="card-title fs-4">{{ course.title }}</h3>
                            <small> Status: {% if course.is_completed %}
                                <span class="text-success">successfuly Completion</span>
                                {% else %}
                                <span class="text-danger">Incomplete</span>
                                {% endif %}
                            </small>
                            <hr>
                            <p class="card-text">{{ course.description|truncatewords:10 }}</p>
                            <a href="{% url 'marriage:course_detail' course.slug %}" class="btn btn-sm btn-primary">Start</a>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
             <!-- Pagination Section -->
            <div class="row my-3 py-4">
                <div class="col-lg-8 small">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
          
             <!-- Resources Section -->
             <h2 class="mx-4">Related Resources</h2>     
             <hr>                          
            <div class="row row-cols-1 row-cols-md-3 my-2 g-4">
                {% for resource in resources %}
                    {% if resource.category == 'PreMarital' %}
                        <div class="col">
                        <div class="card">
                            <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="{{ course.title }}">
                            <div class="card-body">
                            <h3 class="card-title fs-4">{{ resource.title }}</h3>
                            <p class="card-text">{{ resource.description|truncatewords:10 }}</p>
                            {% comment %} <a href="{% url 'marriage:resource_detail' resource.slug %}" class="btn btn-sm btn-primary">Start</a> {% endcomment %}
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
          tabindex="0"
        >
          Post-Marital | የድህረ-ጋብቻ ትምህርት
        </div>
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
          tabindex="0"
        >
        AllResources | ሁሉም መርጃዎች
        </div>
       
    </div>



    <div class="row">
        <div class="col-lg-8">
            <h2 class="mb-4">Courses</h2>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% static 'img/Courses-palceHlder.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                            <a href="{% url 'marriage:course_detail' course.slug %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Pagination Section -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-- Resources Section -->
        <div class="col-lg-4">
            <h2 class="mb-4">Resources</h2>
            <ul class="list-group">
                {% for resource in resources %}
                <li class="list-group-item">
                    {{ resource.title }} - <a href="{{ resource.link }}">View</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}