{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}marriage School Premarital and Postmarital corsers detail{% endblock %}
{% block main %}
<div class="container mt-2">
     <!-- breadcrumb -->
     <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:course_list' %}">coursesList<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">courseDetail</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-1">
                <h1 class="mb-2 text-light fs-4">Course Detail</h1>
            </div>
        </div>
    </div>
    {{course_detail.title}}
    <hr>
    {{course_detail.description}}
    <hr>
    <div class="container mt-4">
        {% comment %} <h1>{{ course_detail.name }}</h1>
        <p>{{ course_detail.description }}</p>
     {% endcomment %}
        <!-- Quizzes Section -->
        <h2 class="mt-5">Quizzes</h2>
        {% if quizzes %}
            {% for quiz in quizzes %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{ quiz.quiz_title }}</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'marriage:submit_quiz' quiz.id %}">
                        {% csrf_token %}
                        {% for question in questions %}
                            {% if question.quiz == quiz %}
                            <div class="mb-3">
                                <label>{{ question.number }}. {{ question.question_text }}</label>
                                {% for answer in answers %}
                                    {% if answer.question == question %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="answer_{{ answer.id }}" value="{{ answer.id }}">
                                        <label class="form-check-label" for="answer_{{ answer.id }}">
                                            {{ answer.answer_text }}
                                        </label>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit Quiz</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No quizzes available for this course.</p>
        {% endif %}
    </div>
</div>
{% endblock %}