{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}marriage School meet_events details{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:meet_event_list' %}">meetEventList<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">MeetEventsDetail</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center text-primary py-1">
                <h1 class="mb-2 text-light fs-4">Meet Events Details</h1>
                <p>congrate! Completion of the Courses is the big success.</p>
                <p>Now select the meetEvenet to signup from the given list and attaining the event to be cirtified for your marriage courses</p>
            </div>
        </div>
    </div>
    
    <!-- Upcoming Meet Events -->
    <div class="container mt-5">
    {% if meet_event %}
        <h1 class="mb-4 fs-5">{{ meet_event.meet_type }} Details</h1>
        <hr>
        <div class="card border-primary shadow">
            <div class="card-body">
                <div class="d-flex justify-content-between gap-2 px-2">
                    <h6 class="card-title fs-6">Held by: {{ meet_event.held_by }}</h6>
                    <i class="fas fa-chess-king fa-2x text-primary"></i>
                </div>
                <hr>
                <p class="card-text"><strong>Speaker:</strong> {{ meet_event.speaker }}</p>
                {% if meet_event.special_guest %}
                <p class="card-text"><strong>Special Guest:</strong> {{ meet_event.special_guest }}</p>
                {% endif %}
                <p class="card-text"><strong>Date and Time:</strong> {{ meet_event.date_and_time|date:"M d, Y H:i" }}</p>
                {% if meet_event.location %}
                <p class="card-text"><strong>Location:</strong> {{ meet_event.location }}</p>
                {% endif %}
                {% if meet_event.webinar_link %}
                <p class="card-text"><strong>Webinar Link:</strong> <a href="{{ meet_event.webinar_link }}">{{ meet_event.webinar_link }}</a></p>
                {% endif %}
                {% if meet_event.webinar_password %}
                <p class="card-text"><strong>Webinar Password:</strong> {{ meet_event.webinar_password }}</p>
                {% endif %}
                <a href="{% url 'marriage:signup_for_event' meet_event.slug %}" class="btn btn-sm btn-primary">sign up for meetEvent</a>
            </div>
        </div>
        <div class="card">
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}