{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}marriage School meet_events listed{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown small">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">MeetEventsList</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center text-primary py-1">
                <h1 class="mb-2 text-light fs-4">Meet Events List</h1>
                <p>congrate! Completion of the Courses is the big success.</p>
                <p>Now select the meetEvenet to signup from the given list and attaining the event to be cirtified for your marriage courses</p>
            </div>
        </div>
    </div>
    
    <!-- Upcoming Meet Events -->
    <div class="container mt-5">
        <h1 class="mb-4 px-3 fs-4">Upcoming Meet Events</h1>
        <hr>
        <div class="row">
            {% if meet_events %}
            {% for event in meet_events %}
            <div class="col-md-6 mb-4">
                <div class="card border-primary shadow">
                    <div class="card-body p-3">
                        <div class="d-flex justify-content-between gap-4">
                        <div><h5 class="card-title">{{ event.meet_type }}</h5></div>
                        <div> <i class="fas fa-chess-king fa-2x text-primary"></i></div>
                        </div>
                        <hr>
                        <p class="card-text">Held by: {{ event.held_by }}</p>
                        <p class="card-text">Speaker: {{ event.speaker }}</p>
                        <p class="card-text">Location : {{ event.location }}</p> 
                        <p class="card-text">Date and Time: {{ event.date_and_time|date:"M d, Y H:i" }}</p>
                        <a href="{% url 'marriage:meet_event_detail' event.slug %}" class="btn btn-sm btn-primary px-4 py-2 rounded-pill">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>sorry, for now the server show no data yet, try agin </p>
            {% endif %}
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
