{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}donation cases List{% endblock %}
{% block main %}
<div class="container my-2">
<!-- breadcrumb  Start -->
<div class="event pb-4">
    <div class="mx-auto wow bounceInUp rounded" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown ">
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small"><a href="{% url "payments:payment_menu" %}">payment_menu<span class="px-1">\</span></a></li>
                    <li class="small"><a href="{% url "pages:donation-caseList" %}">donationCase<span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page">donationCaseDetail \</li>
                </ol>   
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 bolder text-light fs-4">Donation-case Detail </h3>
            <h3 class="mb-2 text-primary fs-5">Donation-caseList Detail explain the all information about it.</h1>
        </div>
    </div>
</div>
<!-- paymentCaseList -->
<div class="my-3">
    <div class="row">
      <div class="col-md-8">
        <div class="card  p-2 border border-primary">
          <div class="card-body small">
            <h3 class="card-title fs-4">{{ donation_case.title }}</h3>
            <hr />
            <p class="card-text text-success m-0"><strong>Amount: ${{ donation_case.amount }}</strong></p>
            <p class="card-text m-0"><small class="text-muted">Category: {{ donation_case.category.title }}</small></p>
            <p class="card-text m-0"><small class="text-muted">Case Code: {{ donation_case.case_code }}</small></p>
            <p class="card-text m-0"><small class="text-muted">Created: {{ donation_case.created|date:"F d, Y" }}</small></p>
            <p class="card-text mt-0"><small class="text-muted">Updated: {{ donation_case.updated|date:"F d, Y" }}</small></p>
            <hr />
            <p class="card-text">Description : {{ donation_case.description|safe }}</p>
            <hr />
            <div class="btn-group gap-3">
               <a href="{{donation_case.stripsPayment_link}}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary" target="_blank">Go to Payment </a>
               <a href="{% url 'pages:donation-caseList' %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Back to List</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-1 border border-primary">
          {% if donation_case.image %}
          <img src="{{ donation_case.image.url }}" class="card-img-top" alt="{{ donation_case.title }}">
          {% endif %}
         
        </div>
        <div class="mt-2 card ">
          {% if donation_case.QRCodeImage %}
          <img src="{{ donation_case.QRCodeImage.url }}" class="card-img-top" alt="{{ donation_case.title }}">
          {% endif %}
         
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}