{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}user Dashboard{% endblock %}
{% block main %}
<div class="container my-2 text-center">
     <!-- breadcrumb -->
     <div class="event pb-2">
        <div class="mx-auto wow bounceInUp rounded" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-2 mt-0 small">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                        <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class="small" aria-current="page">userDashboard</li>
                    </ol>
                </div>
            </div>
            <h2 class="text-primary mx-2 fs-4">Welcome! to your own user Dashboard</h2>
            <p class="text-primary mx-2 fs-sm small">እንኳን ደህና መጣህ! ለራስህ ዳሽቦርድ</p>
        </div>
    </div>
    
     <!-- Example Code -->
     <div class="container pt-3"> 
        <div class="row g-2 ">
          <div class="col-sm-6 sh">
            <a  href="{% url 'my-account' %}" class="card btn btn-sm btn-outline-primary shadow-2 border border-primary">
              <div class="card-body ">
                <i class="fas fa-user-circle  fa-2x px-2 "></i>
                <h3 class="card-title fs-4">Manage Account</h3>
                <p class="card-text ">Access your account info and Manage as you required.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </a>
          </div>
          <div class="col-sm-6 ">
            <a  href="{% url "members:member_list" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                <i class="fas fa-layer-group fa-2x px-2 "></i>
                <h1 class="card-title fs-4">Manage Membership</h1>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a  href="{% url "pages:donation-caseList" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                <i class="fas fa-donate fa-2x px-2 "></i>
                <h1 class="card-title fs-4">Donations</h1>
                <p class="card-text">This the bast chance to do the blessings support that our church Listed out for you.</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a  href="{% url "payments:payment_menu" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                <i class="fas fa-money-bill fa-2x px-2 "></i>
                <h1 class="card-title fs-4 py-2">Payments Management</h1>
                <p class="card-text">Go Explore all payments you want to pay and Manage you payments.</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a  href="{% url "massaging:massage_list" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                {% comment %} <i class="fas fa-massages fa-2x px-2 "></i> {% endcomment %}
                <i class="bi bi-envelope-at-fill fa-2x px-2"></i>
                <h1 class="card-title fs-4">Massages</h1>
                <p class="card-text">Receiving important massages from our church.</p>
                <small>you have {{massage_count}} massages</small>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a  href="{% url "events:event_list" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                <i class="bi bi-calendar2-minus-fill fa-2x px-2"></i>
                <h1 class="card-title fs-4 py-2">Events</h1>
                <p class="card-text">In the name of God, our church is inviting all of you Orthodox people to participate in the upcoming programs!!</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a  href="{% url "events:user-notification" %}" class="card btn btn-sm btn-outline-primary shadow border border-primary">
              <div class="card-body">
                <i class="bi bi-calendar2-minus-fill fa-2x px-2"></i>
                <h1 class="card-title fs-4 py-2">Notification</h1>
                <p class="card-text small">In the name of God, our church is inviting all of you Orthodox people to participate in the upcoming event!!</p>
                <small>You have ({{remind_count}}) Remind me Notification</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End Example Code -->
</div>
{% endblock %}