{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Books create new{% endblock %}
{% block main %}
<div class="container mt-3">

    <h1>Add a New Book</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
       
        <div class="mb-3">
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.author.label_tag }} {{ form.author }}
        </div>
        <div class="mb-3">
            {{ form.published_date.label_tag }} {{ form.published_date }}
        </div>
        <div class="mb-3">
            {{ form.format_type.label_tag }} {{ form.format_type }}
        </div>
        <div class="mb-3">
            {{ form.cover_image.label_tag }} {{ form.cover_image }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <a href="{% url 'multimedia:books_library_list' %}" class="btn btn-secondary mt-3">Back to Books Library</a>
</div>
{% endblock %}