{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% comment %} <link rel="stylesheet" href="{% static 'css/offcanvasNavbar.css' %}"> {% endcomment %}
<style>
    .card.success {
      border-color: #28a745 !important;
      box-shadow: 0 0 10px rgba(40, 167, 69, 0.5) !important;
    }
  </style>
{% endblock %}
{% block title %}Baptism Service{% endblock %}
{% block main %}
<div class="container my-2">
    <!-- Baptism Service -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-1 mt-0">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                        <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class="small"> <a href="{% url "services:service" %}">services <span class="px-1">\</span></a></li>
                        {% comment %} <li class="small"> <a href="{% url "services:baptism_service" %}">baptism <span class="px-1">\</span></a></li> {% endcomment %}
                        <li class="small" aria-current="page">Baptism</li>
                    </ol>
                    
                </div>
             
            </div>
            <div class="text-center py-2">
                <h3 class="mb-2 bolder text-light ">የጥምቀት(ክርስትና) አገልግሎት</h3>
                <h3 class="mb-2 text-light ">Baptism Service </h3>
            </div>
        </div>
        <div class="container py-3">
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                    {% if baptizedApplicationConfirmation %}
                    <li class="nav-item p-3">
                        <a class="d-flex mx-2 py-3 px-2 border border-primary bg-light rounded-pill " data-bs-toggle="pill" href="#tab-1">
                            <span class="text-dark" style="width: 430px;">ጥምቀት ለምን ያስፈልገናል? / why do we need Baptism?</span>
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="d-flex py-3 mx-2 px-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-2">
                            <span class="text-dark" style="width: 430px;">ለአገልግሎት የሚያስፈልጉ መስፈርቶች / Requirements for service</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item p-3">
                        <a class="d-flex mx-2 py-3 px-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                            <span class="text-dark" style="width: 430px;">ጥምቀት ለምን ያስፈልገናል? / why do we need Baptism?</span>
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="d-flex py-3 mx-2 px-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                            <span class="text-dark" style="width: 430px;">ለአገልግሎት የሚያስፈልጉ መስፈርቶች / Requirements for service</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if baptizedApplicationConfirmation %}
                    <div id="tab-1" class="tab-pane fade show p-0 ">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-md-10 col-lg-12 wow bounceInUp" data-wow-delay="0.1s">
                                        <div class="event-img position-relative">
                                            <ul class="nav nav-pills mb-4 " id="pills-tab" role="tablist">
                                               
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">ጥምቀት የሚያስፈልገን</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">We need baptism</button>
                                                </li>
                                                
                                              </ul>
                                              <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active  border-top py-3 pt-3 text-start" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> መንፈሳዊ ንጽህና</button>: ጥምቀት የኃጢአትና የርኩሰትን መታጠብን ያመለክታል ይህም መንፈሳዊ ዳግም መወለድን ወደ ጽድቅ ሕይወት ያመለክታል።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> ወደ ቤተክርስትያን መግባት </button>:  በጥምቀት፣ ግለሰቦች በመደበኛነት ወደ አማኞች ማህበረሰብ ይቀበላሉ፣ የቤተክርስቲያኑ አባላት እና የመንፈሳዊ ተስፋዎች ወራሾች ይሆናሉ።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> መንፈስ ቅዱስን መቀበል</button>:  ጥምቀት ለተጠመቁት መንፈስ ቅዱስ የሚሰጥበት፣ የእምነትና የአገልግሎት ሕይወት እንዲኖራቸው የሚያስችል ቁርባን እንደሆነ ይታመናል።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> በክርስቶስ ሞት እና ትንሳኤ መሳተፍ </button>: ጥምቀት በኢየሱስ ክርስቶስ ሞት እና ትንሳኤ መሳተፍን ያመለክታል ይህም በእርሱ ውስጥ አዲስ ሕይወትን ያመለክታል።</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> በመዳን ምልክት መታተም </button>:  ጥምቀት በድኅነት ምልክት እንደ መታተም ይታያል፣ ይህም የግለሰቡን ቦታ በተዋጁት እና ወደ እግዚአብሔር መንግሥት ለመግባት ዋስትና ይሰጣል።</p>
                                                    </div>
                                                <div class="tab-pane fade border-top py-3 text-start pt-3" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Spiritual Cleansing </button>:  Baptism symbolizes the washing away of sins and impurities, marking a spiritual rebirth into a life of righteousness.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Initiation into the Church </button>:  Through Baptism, individuals are formally welcomed into the community of believers, becoming members of the Church and heirs to its spiritual promises.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Receiving the Holy Spirit </button>:  Baptism is believed to be a sacrament through which the Holy Spirit is bestowed upon the baptized, empowering them for a life of faith and service.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Participation in Christ's Death and Resurrection </button>:  Baptism symbolizes participation in the death and resurrection of Jesus Christ, signifying a new life in Him.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Sealing with the Sign of Salvation </button>:  Baptism is seen as a sealing with the sign of salvation, ensuring the individual's place among the redeemed and guaranteeing entrance into the Kingdom of God.</p>
                                                </div>
                                               
                                              </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0 active">
                        <div class="row g-2                                                                                                                                                        ">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-md-8 col-lg-8">
                                        <div class="event-img position-relative">
                                            <ul class="nav nav-pills mb-4 " id="pills-tab" role="tablist">
                                                {% if not baptizedApplicationConfirmation.service_request_confirmation_number %}
                                                <li class="nav-item checklists-tab " role="presentation">
                                                    <button class="nav-link active" id="pills-Checklists-tab" data-bs-toggle="pill" data-bs-target="#pills-Checklists" type="button" role="tab" aria-controls="pills-Checklists" aria-selected="false">
                                                    <i class="bi bi-1-circle px-2"></i>Checklists<span class="checkedLists px-1 "></span></button>
                                                </li>
                                                {% else %}
                                                <li class="nav-item checklists-tab success" role="presentation">
                                                    <button class="nav-link " id="pills-Checklists-tab" data-bs-toggle="pill" data-bs-target="#pills-Checklists" type="button" role="tab" aria-controls="pills-Checklists" aria-selected="true">
                                                    <i class="bi bi-1-circle px-2"></i>Checklists<span class="checkedLists px-1 "><span class="text-center text-success"><i class="bi bi-check-circle "></i></span></span></button>
                                                </li>
                                                {% endif %}
                                                {% if not baptizedApplicationConfirmation.service_request_confirmation_number %}
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="pills-Application-tab" data-bs-toggle="pill" data-bs-target="#pills-Application" type="button" role="tab" aria-controls="pills-Application" aria-selected="true">
                                                    <i class="bi bi-2-circle px-2"></i>Application</button>
                                                </li>
                                                {% else %}
                                                <li class="nav-item " role="presentation">
                                                    <button class="nav-link active" id="pills-Application-tab" data-bs-toggle="pill" data-bs-target="#pills-Application" type="button" role="tab" aria-controls="pills-Application" aria-selected="true">
                                                      <i class="bi bi-2-circle px-2"></i>Application <span class="text-center text-success px-1"><i class="bi bi-check-circle "></i></span></button>
                                                </li>
                                                {% endif %}
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment" type="button" role="tab" aria-controls="pills-payment" aria-selected="false">
                                                    <i class="bi bi-3-circle px-2"></i>Payment</button>
                                                </li>
                                                                    
                                              </ul>
                                              <div class="tab-content" id="pills-tabContent">
                                                {% if messages %}
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    {% for message in messages %}
                                                     {{ message }}
                                                    {% endfor %}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endif %}
                                                <div class="tab-pane fade border-top py-3 pt-3 text-start" id="pills-Checklists" role="tabpanel" aria-labelledby="pills-Checklists-tab" tabindex="0">
                                                    {% if not baptizedApplicationConfirmation.service_request_confirmation_number %}
                                                    <div class="card text-start">
                                                        <div class="card-header">
                                                          <div class="card-title">Required Checklists | አገልግሎቱን ለማግኘት የሚያስፈልጉ ዝርዝሮች: </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="parentalConsent">
                                                            <label for="parentalConsent">Parental Consent</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="godparentsSelection">
                                                            <label for="godparentsSelection">Godparents Selection</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="preBaptismalInstruction">
                                                            <label for="preBaptismalInstruction">Pre-Baptismal Instruction</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="namingOfChild">
                                                            <label for="namingOfChild">Naming of the Child</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="purityAndPreparation">
                                                            <label for="purityAndPreparation">Purity and Preparation</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="sacramentalElements">
                                                            <label for="sacramentalElements">Sacramental Elements</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="churchMembership">
                                                            <label for="churchMembership">Church Membership</label>
                                                          </li>
                                                        </ul>
                                                        <div class="card-footer text-muted">
                                                          <button type="button" class="btn btn-primary" onclick="checkRequirements()">Check Requirements</button>
                                                        </div>
                                                    </div> 
                                                    {% else %}
                                                    <div class="card text-start success">
                                                        <div class="card-header">
                                                          <div class="card-title">Required Checklists | አገልግሎቱን ለማግኘት የሚያስፈልጉ ዝርዝሮች: </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="parentalConsent" checked="">
                                                            <label for="parentalConsent">Parental Consent</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="godparentsSelection" checked="">
                                                            <label for="godparentsSelection">Godparents Selection</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="preBaptismalInstruction" checked="">
                                                            <label for="preBaptismalInstruction">Pre-Baptismal Instruction</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="namingOfChild" checked="">
                                                            <label for="namingOfChild">Naming of the Child</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="purityAndPreparation" checked="">
                                                            <label for="purityAndPreparation">Purity and Preparation</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="sacramentalElements" checked="">
                                                            <label for="sacramentalElements">Sacramental Elements</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="churchMembership" checked="">
                                                            <label for="churchMembership">Church Membership</label>
                                                          </li>
                                                        </ul>
                                                        <div class="card-footer text-muted"><div class="text-center text-success"><i class="bi bi-check-circle"></i> All requirements met!</div></div>
                                                    </div>
                                                    {% endif %}
                                                </div> 
                                                <div class="tab-pane fade show active  border-top py-3 text-start pt-3" id="pills-Application" role="tabpanel" aria-labelledby="pills-Application-tab" tabindex="0">
                                                    {% if baptizedApplicationConfirmation.service_request_confirmation_number %}
                                                    <div class="container mt-3 rounded border border-primary shadow px-3 py-4">
                                                        
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="me-auto">
                                                                  <div class="h6 fw-bold">Application information Preview</div>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <a class="badge bg-primary rounded-pill mx-1 p-2" href="{% url "services:baptizedApplicationUpdating"  slug=baptizedApplicationConfirmation.slug %}">Update</a>
                                                                    <span class="badge bg-success rounded-pill mx-1 p-2 text-center"  data-bs-toggle="modal" data-bs-target="#all-payments" >Continue to payment</span>
                                                                </div>
                                                            </li>
                                                            {% if baptizedApplicationConfirmation.qualified %}
                                                            <li class="list-group-item">
                                                              <small class="form-check-label">Application Status</small> :
                                                              <small class="form-check-label opacity-25 badge bg-success rounded-pill mx-1 p-2"> 
                                                                Approved!
                                                              </small>
                                                              
                                                            </li> 
                                                            {% else %}
                                                            <li class="list-group-item">
                                                              <small class="form-check-label">Application Status</small> :
                                                              <small class="form-check-label opacity-25 badge bg-danger rounded-pill mx-1 p-2" 
                                                              data-bs-toggle="modal" data-bs-target="#how-to-Approved" 
                                                               title="you need to complete the next step and states change to Approved"> 
                                                                  Pending <i class="bi bi-info-circle px-1"></i> 
                                                              </small>
                                                            </li>
                                                            {% endif %}
                                                            <li class="list-group-item">
                                                                <small class="form-check-label">Application Confirmation</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.service_request_confirmation_number}}</small>
                                                            </li>    
                                                            <li class="list-group-item">
                                                                <small class="form-check-label" >Baptize user type</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.baptize_type}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label" >Baptism Date</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.baptism_date}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label" >Given Full Name</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.given_full_name}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label">Fathers Full Name</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.fathers_full_name}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label">Mothers Full Name</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.mothers_full_name}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label">Phone Number </small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.phone_number }}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <small class="form-check-label">Country Of Birth</small> :
                                                                <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.child_country_of_birth}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                              <small class="form-check-label">Christina Name | የክርስትና ስም</small> :
                                                              <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.christina_name}}</small>
                                                            </li>
                                                            <li class="list-group-item">
                                                              <small class="form-check-label">Priest Who Baptized | ያጠመቀው ካህን</small> :
                                                              <small class="form-check-label opacity-25"> {{ baptizedApplicationConfirmation.priest_who_baptized}}</small>
                                                            </li>
                                                          </ul>
                                                          
                                                    </div>
                                                    {% else %}
                                                    <div class="container mt-3 rounded border border-primary shadow px-3 py-4">
                                                        <h1 class="mb-4">Baptized Application Form</h1>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="baptizedApplication" id="id_BaptizedApplication" value="baptizedApplication"> 
                                                            <div class="mb-3">
                                                                {{ baptizedForm|crispy }}
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="tab-pane fade border-top py-3 text-start pt-3" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab" tabindex="0">
                                                    Payment
                                                </div>
                                              </div>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="event-img position-relative">
                                            <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-42.png" %}" alt="">
                                            <div class="event-overlay d-flex flex-column p-4">
                                                <h4 class="me-auto">Click</h4>
                                                <a href="img/01.html" data-lightbox="event-9" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% else %}
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-md-10 col-lg-12 wow bounceInUp" data-wow-delay="0.1s">
                                        <div class="event-img position-relative">
                                            <ul class="nav nav-pills mb-4 " id="pills-tab" role="tablist">
                                               
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">ጥምቀት የሚያስፈልገን</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">We need baptism</button>
                                                </li>
                                                
                                              </ul>
                                              <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active  border-top py-3 pt-3 text-start" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> መንፈሳዊ ንጽህና</button>: ጥምቀት የኃጢአትና የርኩሰትን መታጠብን ያመለክታል ይህም መንፈሳዊ ዳግም መወለድን ወደ ጽድቅ ሕይወት ያመለክታል።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> ወደ ቤተክርስትያን መግባት </button>:  በጥምቀት፣ ግለሰቦች በመደበኛነት ወደ አማኞች ማህበረሰብ ይቀበላሉ፣ የቤተክርስቲያኑ አባላት እና የመንፈሳዊ ተስፋዎች ወራሾች ይሆናሉ።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> መንፈስ ቅዱስን መቀበል</button>:  ጥምቀት ለተጠመቁት መንፈስ ቅዱስ የሚሰጥበት፣ የእምነትና የአገልግሎት ሕይወት እንዲኖራቸው የሚያስችል ቁርባን እንደሆነ ይታመናል።</p>

                                                    <p>  <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> በክርስቶስ ሞት እና ትንሳኤ መሳተፍ </button>: ጥምቀት በኢየሱስ ክርስቶስ ሞት እና ትንሳኤ መሳተፍን ያመለክታል ይህም በእርሱ ውስጥ አዲስ ሕይወትን ያመለክታል።</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> በመዳን ምልክት መታተም </button>:  ጥምቀት በድኅነት ምልክት እንደ መታተም ይታያል፣ ይህም የግለሰቡን ቦታ በተዋጁት እና ወደ እግዚአብሔር መንግሥት ለመግባት ዋስትና ይሰጣል።</p>
                                                    </div>
                                                <div class="tab-pane fade border-top py-3 text-start pt-3" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Spiritual Cleansing </button>:  Baptism symbolizes the washing away of sins and impurities, marking a spiritual rebirth into a life of righteousness.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Initiation into the Church </button>:  Through Baptism, individuals are formally welcomed into the community of believers, becoming members of the Church and heirs to its spiritual promises.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Receiving the Holy Spirit </button>:  Baptism is believed to be a sacrament through which the Holy Spirit is bestowed upon the baptized, empowering them for a life of faith and service.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Participation in Christ's Death and Resurrection </button>:  Baptism symbolizes participation in the death and resurrection of Jesus Christ, signifying a new life in Him.</p>

                                                    <p> <i class="fa fa-check text-primary me-2"></i> <button class="btn btn-sm btn-outline-primary border-0"> Sealing with the Sign of Salvation </button>:  Baptism is seen as a sealing with the sign of salvation, ensuring the individual's place among the redeemed and guaranteeing entrance into the Kingdom of God.</p>
                                                </div>
                                               
                                              </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-2                                                                                                                                                        ">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-md-8 col-lg-8">
                                        <div class="event-img position-relative">
                                            <ul class="nav nav-pills mb-4 " id="pills-tab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active " id="pills-Checklists-tab" data-bs-toggle="pill" data-bs-target="#pills-Checklists" type="button" role="tab" aria-controls="pills-Checklists" aria-selected="true">Checklists</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="pills-Application-tab" data-bs-toggle="pill" data-bs-target="#pills-Application" type="button" role="tab" aria-controls="pills-Application" aria-selected="false">Application</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment" type="button" role="tab" aria-controls="pills-payment" aria-selected="false">Payment</button>
                                                </li>
                                                                    
                                              </ul>
                                              <div class="tab-content" id="pills-tabContent">
                                                {% if messages %}
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    {% for message in messages %}
                                                     {{ message }}
                                                    {% endfor %}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endif %}

                                                <div class="tab-pane fade show active  border-top py-3 pt-3 text-start" id="pills-Checklists" role="tabpanel" aria-labelledby="pills-Checklists-tab" tabindex="0">
                                                    <div class="card text-start">
                                                        <div class="card-header">
                                                          <div class="card-title">Required Checklists | አገልግሎቱን ለማግኘት የሚያስፈልጉ ዝርዝሮች: </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="parentalConsent">
                                                            <label for="parentalConsent">Parental Consent</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="godparentsSelection">
                                                            <label for="godparentsSelection">Godparents Selection</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="preBaptismalInstruction">
                                                            <label for="preBaptismalInstruction">Pre-Baptismal Instruction</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="namingOfChild">
                                                            <label for="namingOfChild">Naming of the Child</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="purityAndPreparation">
                                                            <label for="purityAndPreparation">Purity and Preparation</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="sacramentalElements">
                                                            <label for="sacramentalElements">Sacramental Elements</label>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <input type="checkbox" id="churchMembership">
                                                            <label for="churchMembership">Church Membership</label>
                                                          </li>
                                                        </ul>
                                                        <div class="card-footer text-muted">
                                                          <button type="button" class="btn btn-primary" onclick="checkRequirements()">Check Requirements</button>
                                                        </div>
                                                    </div> 
                                                </div>
                                                <div class="tab-pane fade border-top py-3 text-start pt-3" id="pills-Application" role="tabpanel" aria-labelledby="pills-Application-tab" tabindex="0">
                                                    <div class="container mt-3 rounded border border-primary shadow px-3 py-4">
                                                        <h1 class="mb-4">Baptized Application Form</h1>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="BaptizedApplication" id="id_BaptizedApplication" value="BaptizedApplication"> 
                                                            <div class="mb-3">
                                                                {{ baptizedForm|crispy }}
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade border-top py-3 text-start pt-3" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab" tabindex="0">
                                                    Payment
                                                </div>
                                              </div>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="event-img position-relative">
                                            <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-42.png" %}" alt="">
                                            <div class="event-overlay d-flex flex-column p-4">
                                                <h4 class="me-auto">Click</h4>
                                                <a href="img/01.html" data-lightbox="event-9" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Modal how-to-Approved-->
    <div class="modal fade" id="how-to-Approved" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content rounded-1 shadow alert-warning">
              <div class="modal-body ">
                  <div class="card border border-0 alert alert-warning alert-dismissible fade show">
                    <div class="card-body">
                      <div class="">
                        <div class="" role="alert">
                          <small>Thank you for your recent application. To proceed with the approval process and ensure prompt service, we kindly ask that you complete the necessary step of paying the required service fee.
                             Upon successful payment, your application will be reviewed and approved instantly. **
                             ለቅርብ ጊዜ ማመልከቻዎ እናመሰግናለን። የማጽደቁን ሂደት ለመቀጠል እና ፈጣን አገልግሎትን ለማረጋገጥ አስፈላጊውን የአገልግሎት ክፍያ ለመክፈል አስፈላጊውን ደረጃ እንዲያጠናቅቁ በአክብሮት እንጠይቃለን። በተሳካ ሁኔታ ክፍያ ከተፈጸመ በኋላ፣ ማመልከቻዎ ወዲያውኑ ይጸድቃል።
                             **</small>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
   <!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function checkRequirements() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    let allChecked = true;
    checkboxes.forEach(checkbox => {
      if (!checkbox.checked) {
        allChecked = false;
      }
    });
    if (allChecked) {
      const card = document.querySelector('.card');
      const checklists = document.querySelector('.checklists-tab')
      card.classList.add('success');
      card.querySelector('.card-footer').innerHTML = '<div class="text-center text-success"><i class="bi bi-check-circle"></i> All requirements met!</div>';
      checklists.classList.add('success');
      checklists.querySelector('.checkedLists').innerHTML ='<span class="text-center text-success"><i class="bi bi-check-circle "></i></span>';
    }
  }
</script>
{% endblock %}