{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}Father Of Repentance{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-3">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class="small"><a href="{% url 'services:service' %}">Services <span class="px-1">\</span></a></li>
                        <li class="small" aria-current="page"><a href="{% url 'services:fatherOfRepentance' %}">FatherOfRepentance<span class="px-1">\</span></a></li>

                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
           
            <div class="text-center py-2 px-3 small">
              <h3 class="mb-2 bolder text-primary text-italic small fs-5">የንስሐ አባት</h3>
              <small  class="h3 bolder text-primary small fs-5">In Our Church</small>
            </div>
        </div>
    </div>

    <main>
        <section class="text-center container">
          <div class="row py-lg-3">
            <div class="col-lg-10 col-md-10 mx-auto text-center">
              
                  <p class="">
                    <ul class="nav justify-content-center gap-2" id="pills-tab-church" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="btn btn-sm btn-outline-primary rounded-pill active" id="pills-church-tab" data-bs-toggle="pill" data-bs-target="#pills-church" type="button" role="tab" aria-controls="pills-church" aria-selected="true">
                            <p class="m-0 small px-4"> Meaning of Father of Repentance ?</p>
                            <p class="m-0 small"> የንስሐ አባት ማለት ?</p>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="btn btn-sm btn-outline-primary rounded-pill " id="pills-Father-tab" data-bs-toggle="pill" data-bs-target="#pills-Father" type="button" role="tab" aria-controls="pills-Father" aria-selected="false">
                            <p class="m-0 small px-4">List of Our Church's Fathers of Repentance</p>
                            <p class="m-0 small">የቤተክርስቲያናችን የንስሐ አባቶች ዝርዝር</p>
                        </a>
                      </li>
                     </ul>
                  </p>
              
            </div>
          </div>
        </section>
        <div class="tab-content" id="pills-tabContent-church">
            <div class="tab-pane fade show active" id="pills-church" role="tabpanel" aria-labelledby="pills-church-tab" tabindex="0">
                <!--why Father of Repentance ?-->
              <div class="card shadow-sm border-primary border-0 album py-3 px-4 bg-light ">
              <h1 class="fw-light text-center fs-4">Father of Repentance</h1>
              <h3 class="mb-1 fw-light text-center fs-6">In the Ethiopian Orthodox Tewahedo Church</h3>
              <hr>
              <p class="px-3 mx-auto text-start small">
                The "Father of Repentance" plays a crucial role in the Ethiopian Orthodox Tewahedo Church, 
                guiding the faithful through repentance and helping them to grow spiritually. 
                By understanding and embracing this role, we can better appreciate the depth of God's love and 
                the path to true reconciliation and peace. </p> 
                <p class="px-3 mx-auto text-start small">
                      በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ምእመናንን በንስሐ በመምራት በመንፈሳዊ እንዲያድጉ በመርዳት 
                      "የንስሐ አባት" ወሳኝ ሚና ይጫወታል። ይህንን ሚና በመረዳት እና በመቀበል፣ የእግዚአብሔርን ፍቅር ጥልቀት 
                      እና ወደ እውነተኛ እርቅ እና ሰላም የሚወስደውን መንገድ በተሻለ ሁኔታ እናደንቃለን።
                </p> 
                </div>
                <div class="album py-3 bg-light">
                    <div class="container">
                
                      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <div class="col">
                          <div class="card shadow-sm border-primary">      
                            <div class="card-body small">
                              <!-- Amharic Code -->
                              <ul class="nav nav-pills mx-2  justify-content-end" id="pills-tab-youth" role="tablist">
                                  <li class="nav-item dropdown small">
                                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true">Language</a>
                              
                                  <ul class="dropdown-menu small">
                                      <li class="nav-item small" role="presentation">
                                      <button class="dropdown-item small" id="pills-Amharic-youth-tab" data-bs-toggle="pill" data-bs-target="#pills-Amharic-youth" type="button" role="tab" aria-controls="pills-Amharic-youth" >አማርኛ</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                      <button class="dropdown-item small" id="pills-English-youth-tab" data-bs-toggle="pill" data-bs-target="#pills-English-youth" type="button" role="tab" aria-controls="pills-English-youth" >English</button>
                                      </li>
                                  </ul>
                              </li>
                              
                              </ul>
                              
                              <div class="tab-content" id="pills-tabContent-youth">
                                  <!-- Amharic Code -->
                                  <div class="tab-pane fade show active small" id="pills-English-youth" role="tabpanel" aria-labelledby="pills-English-youth-tab" tabindex="0">
                                            <!-- Introduction -->
                                      <div class="container-fulid px-3">
                                          <p class="card-text text-break lh-base">
                                              <h6>What do we mean by the "Father of Repentance"?</h6>
                                              <hr />
                                              In the Ethiopian Orthodox Tewahedo Church, the term "Father of Repentance" refers to the priest who acts as a spiritual father and confessor. This priest helps guide individuals in their journey of repentance, providing counsel, absolution, and support as they seek to turn away from sin and draw closer to God.
                                          </p>
          
                                          <!-- Role of the Father of Repentance -->
                                          <p class="card-text text-break lh-base">
                                              <h6>Role of the "Father of Repentance"</h6>
                                              <hr />
                                              <strong>Spiritual Guide:</strong>
                                              The priest serves as a shepherd to his flock, guiding them through spiritual challenges. Jesus described himself as the Good Shepherd in John 10:11, saying, "I am the good shepherd. The good shepherd gives His life for the sheep." Similarly, the priest cares for the spiritual well-being of the congregation.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Confessor:</strong>
                                              During confession, the priest listens to the sins and struggles of the faithful, offering counsel and absolution. This is based on James 5:16, which states, "Confess your trespasses to one another, and pray for one another, that you may be healed." The priest acts as a mediator in this process, helping the faithful unburden their sins and seek forgiveness.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Intercessor:</strong>
                                              The priest intercedes for the people in prayer, asking God to forgive their sins and grant them grace. This role is exemplified in Exodus 32:30-32, where Moses intercedes for the Israelites after they sinned, demonstrating a leader’s duty to seek God’s mercy on behalf of others.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Teacher:</strong>
                                              The "Father of Repentance" also teaches about the importance of repentance and living a life aligned with Christ’s teachings. In 2 Timothy 2:24-25, it says, "And a servant of the Lord must not quarrel but be gentle to all, able to teach, patient, in humility correcting those who are in opposition." The priest helps the faithful understand the path of righteousness and how to maintain a repentant heart.
                                          </p>
          
                                          <!-- Importance of Repentance -->
                                          <p class="card-text text-break lh-base">
                                              <h6>Importance of Repentance</h6>
                                              <hr />
                                              <strong>Reconciliation with God:</strong>
                                              Repentance restores our relationship with God. Isaiah 1:18 reassures us, saying, "Though your sins are like scarlet, they shall be as white as snow; though they are red like crimson, they shall be as wool." Repentance cleanses us from sin and brings us back into God's grace.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Spiritual Renewal:</strong>
                                              Through repentance, we experience a renewal of the heart and spirit. Psalm 51:10 (Psalm 50:10 in the Ethiopian Bible) prays, "Create in me a clean heart, O God, and renew a steadfast spirit within me." This renewal is essential for living a life that reflects Christ’s love and teachings.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Peace and Healing:</strong>
                                              Confessing our sins and repenting brings inner peace and healing. Proverbs 28:13 states, "He who covers his sins will not prosper, but whoever confesses and forsakes them will have mercy." Through repentance, we receive God’s mercy and find peace.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Guidance and Support:</strong>
                                              Having a "Father of Repentance" provides us with guidance and support in our spiritual journey. The priest, as a spiritual father, helps us navigate our struggles and encourages us to remain faithful.
                                          </p>
          
                                          <!-- How to Approach the Father of Repentance -->
                                          <p class="card-text text-break lh-base">
                                              <h6>How to Approach the "Father of Repentance"</h6>
                                              <hr />
                                              <strong>Humility:</strong>
                                              Approach the priest with a humble heart, ready to admit your faults and seek guidance. James 4:10 advises, "Humble yourselves in the sight of the Lord, and He will lift you up."
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Honesty:</strong>
                                              Be honest and open during confession, trusting that the priest is there to help and not to judge. Proverbs 12:22 reminds us, "Lying lips are an abomination to the Lord, but those who deal truthfully are His delight."
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Commitment to Change:</strong>
                                              True repentance involves a commitment to change and to avoid repeating the same sins. Acts 3:19 calls us to, "Repent therefore and be converted, that your sins may be blotted out."
                                          </p>
                                          <p class="card-text text-break lh-base">
                                              <strong>Faith in God's Mercy:</strong>
                                              Have faith that God’s mercy is greater than any sin. 1 John 1:9 promises, "If we confess our sins, He is faithful and just to forgive us our sins and to cleanse us from all unrighteousness."
                                          </p>
          
                                          <!-- Conclusion -->
                                          <p class="card-text text-break lh-base">
                                              <h6>Conclusion</h6>
                                              <hr />
                                              The "Father of Repentance" plays a crucial role in the Ethiopian Orthodox Tewahedo Church, guiding the faithful through repentance and helping them grow spiritually. By understanding and embracing this role, we can better appreciate the depth of God’s love and the path to true reconciliation and peace.
                                          </p>
                                      </div>
                                  </div>
                                  <!-- English Code -->
                                  <div class="tab-pane fade small" id="pills-Amharic-youth" role="tabpanel" aria-labelledby="pills-Amharic-youth-tab" tabindex="0">
                                      <div class="container-fulid px-3">
                                          <p class="card-text text-break lh-base">
                                          <h6>“የንስሐ አባት” ስንል ምን ማለታችን ነው?</h6>
                                          <hr />
                                          በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን የንስሐ አባት የሚለው ቃል እንደ መንፈሳዊ አባትና ኑዛዜ የሚያገለግል ካህንን ያመለክታል። ይህ ካህን ግለሰቦችን ከኃጢአት ለመራቅ እና ወደ እግዚአብሔር ለመቅረብ በሚፈልጉበት ጊዜ ምክርን፣ ፍቺን እና ድጋፍን በመስጠት የንስሃ ጉዟቸውን እንዲመሩ ይረዳል።
                                          </p>
                                         
                                          <!-- የንስሐ አባት ሚና -->
                                          <p class="card-text text-break lh-base">
                                          <h6>የ "የንስሐ አባት" ሚና </h6>
                                          <hr />
                                          <strong>መንፈሳዊ መመሪያ፡</strong>
                                          ካህኑ መንጋውን በመንፈሳዊ ፈተናዎች እየመራቸው እንደ እረኛ ሆኖ ያገለግላል። ኢየሱስ በዮሐንስ 10፡11 ላይ “ጥሩ እረኛ እኔ ነኝ መልካም እረኛ ነፍሱን ስለ በጎቹ ይሰጣል” ሲል ራሱን እንደ መልካም እረኛ ገልጿል። በተመሳሳይም ካህኑ የጉባኤውን መንፈሳዊ ደህንነት ይንከባከባል።
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>አማካሪ፡</strong>
                                          ኑዛዜ በሚሰጥበት ጊዜ ካህኑ የምእመናንን ኃጢአት እና ተጋድሎ ያዳምጣል፣ ምክር እና ፍቺ ይሰጣል። ይህም በያዕቆብ 5፡16 ላይ “እርስ በርሳችሁ በደላችሁን ተናዘዙ፤ ትፈወሱም ዘንድ እርስ በርሳችሁ ጸልዩ” ይላል። ካህኑ በዚህ ሂደት ውስጥ እንደ አስታራቂ ሆኖ ያገለግላል, ምእመናን ኃጢአታቸውን እንዲሸከሙ እና ይቅርታ እንዲጠይቁ ይረዳቸዋል.
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>አማላጅ፡</strong>
                                          ካህኑ ኃጢአታቸውን ይቅር እንዲላቸው እና ጸጋን እንዲሰጣቸው እግዚአብሔርን በመጠየቅ ስለ ሰዎች በጸሎት ይማልዳሉ. ይህ ሚና በዘፀአት 32፡30-32 ውስጥ ተብራርቷል፣ ሙሴ እስራኤላውያን ኃጢአት ከሰሩ በኋላ ሲማልድ፣ ይህም መሪ ስለሌሎች የእግዚአብሔርን ምሕረት የመሻት ግዴታ እንዳለበት በማሳየት ነው።
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>መምህር፡</strong>
                                          "የንስሐ አባት" ስለ ንስሐ አስፈላጊነት እና ከክርስቶስ ትምህርቶች ጋር የተጣጣመ ህይወት መኖርን ያስተምራል። በ2ኛ ጢሞቴዎስ 2፡24-25 ላይ፡- “የጌታም ባሪያ ለሁሉ ገር ለማስተማር የሚችል በትዕግሥትም በትሕትና ተቃዋሚዎችን የሚገሥጽ እንጂ አይጣላ” ይላል። ካህኑ ታማኞች የጽድቅን መንገድ እንዲረዱ እና የንስሐ ልብ እንዴት እንደሚጠብቁ ይረዳቸዋል።
                                          </p>
                                         
                                          <!-- የንስሐ አስፈላጊነት -->
                                          <p class="card-text text-break lh-base">
                                          <h6>የንስሐ አስፈላጊነት</h6>
                                          <hr />
                                          ከእግዚአብሔር ጋር መታረቅ፡</strong>
                                          ንስሐ መግባት ከእግዚአብሔር ጋር ያለንን ግንኙነት ያድሳል። ኢሳይያስ 1፡18 “ኃጢአታችሁ እንደ ቀይ ብትሆን እንደ በረዶ ነጭ ትሆናለች፤ እንደ ደምም ቀይ ብትቀላ እንደ የበግ ጠጕርም ትሆናለች” በማለት ያረጋግጥልናል። ንስሐ ከኃጢአት ያነጻናል እና ወደ እግዚአብሔር ጸጋ ይመልሰናል።
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>መንፈሳዊ እድሳት፡</strong>
                                          በንስሐ፣ የልብ እና የመንፈስ መታደስን እናገኛለን። መዝሙረ ዳዊት 51:10 (መዝሙረ ዳዊት 50:10 በኢትዮጵያ መጽሐፍ ቅዱስ) "አቤቱ ንጹሕ ልብን ፍጠርልኝ የቀናውንም መንፈስ በውስጤ አድስ" በማለት ይጸልያል። ይህ መታደስ የክርስቶስን ፍቅር እና ትምህርቶችን የሚያንፀባርቅ ህይወት ለመኖር አስፈላጊ ነው።
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>ሰላም እና ፈውስ፡</strong>
                                          ኃጢአታችንን መናዘዝ እና ንስሐ መግባት የውስጥ ሰላም እና ፈውስ ያስገኛል። ምሳሌ 28፡13 “ኃጢአቱን የሚሰውር አይለማም፤ የሚናዘዝባትና የሚተዋት ግን ምሕረትን ያገኛል” ይላል። በንስሐ፣ የእግዚአብሔርን ምሕረት እንቀበላለን እናም ሰላም እናገኛለን።
                                          </p>
                                          <p class="card-text text-break lh-base">
                                          <strong>መመሪያ እና ድጋፍ፡</strong>
                                          "የንስሐ አባት" ማግኘታችን በመንፈሳዊ ጉዟችን ምሪት እና ድጋፍ ይሰጠናል። ካህኑ እንደ መንፈሳዊ አባት ይረዳል
                                          ትግላችንን እንመራለን እና ታማኝ እንድንሆን እናበረታታለን።
                                      </p>
                                     
                                      <!-- የንስሐ አባትን እንዴት መቅረብ ይቻላል -->
                                      <p class="card-text text-break lh-base">
                                          <h6>ወደ "የንስሐ አባት" እንዴት መቅረብ እንደሚቻል </h6>
                                          <hr />
                                          <strong>ትህትና፡</strong>
                                          ስህተቶቻችሁን ለመቀበል እና መመሪያ ለመሻት ዝግጁ ሆነው በትሁት ልብ ወደ ካህኑ ቅረብ። ያዕቆብ 4፡10 “በጌታ ፊት ራሳችሁን አዋርዱ ከፍ ከፍም ያደርጋችኋል” በማለት ይመክራል።
                                      </p>
                                      <p class="card-text text-break lh-base">
                                          <strong>ታማኝነት፡</strong>
                                          ካህኑ ለመርዳት እንጂ ለመፍረድ እንዳልሆነ በማመን በኑዛዜ ወቅት ሐቀኛ እና ግልጽ ይሁኑ። ምሳሌ 12፡22 “ሐሰተኛ ከንፈር በእግዚአብሔር ዘንድ አስጸያፊ ናት፤ እውነትን የሚያደርጉ ግን በእርሱ ደስ ይላቸዋል” በማለት ያሳስበናል።
                                      </p>
                                      <p class="card-text text-break lh-base">
                                          <strong>ለመለወጥ ቁርጠኝነት፡</strong>
                                          እውነተኛ ንስሐ ለመለወጥ እና ተመሳሳይ ኃጢአቶችን ላለመድገም ቃል መግባትን ያካትታል። የሐዋርያት ሥራ 3፡19 “እንግዲህ ንስሐ ግቡ ኃጢአታችሁም ይደመሰስ ዘንድ ተመለሱ” በማለት ይጠራናል።
                                      </p>
                                      <p class="card-text text-break lh-base">
                                          <strong>በእግዚአብሔር ምሕረት ማመን፡</strong>
                                          የእግዚአብሔር ምሕረት ከማንኛውም ኃጢአት እንደሚበልጥ እመኑ። 1ኛ ዮሐንስ 1፡9 “በኃጢአታችን ብንናዘዝ ኃጢአታችንን ይቅር ሊለን ከዓመፃም ሁሉ ሊያነጻን የታመነና ጻድቅ ነው” በማለት ተስፋ ይሰጣል።
                                      </p>
                                     
                                      <!-- ማጠቃለያ -->
                                      <p class="card-text text-break lh-base">
                                          <h6>ማጠቃለያ </h6>
                                          <hr />
                                          በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ምእመናንን በንስሐ በመምራትና በመንፈሳዊ እንዲያድጉ በመርዳት "የንስሐ አባት" ወሳኝ ሚና ይጫወታል። ይህንን ሚና በመረዳት እና በመቀበል፣ የእግዚአብሔርን ፍቅር ጥልቀት እና ወደ እውነተኛ እርቅ እና ሰላም የሚወስደውን መንገድ በተሻለ ሁኔታ እናደንቃለን።
                                      </p>
                                      </div>
                                  </div>
                              </div>
                              <!-- End pills-tabContent-youth Code -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Father" role="tabpanel" aria-labelledby="pills-Father-tab" tabindex="0">
                <!--Listed Fatheres our church?-->
                <div class="album py-4 bg-light">
                  <div class="container">
                    {% if fathers %}
                    <div class="pb-1 mb-2 text-dark text-start card-body border-0">
                      <h3 class="text-primary fs-6 text-center">የቤተ ክርስቲያናችን የንስሐ አባቶች ከዚህ በታች ተዘርዝረዋል። Our Church Fathers of Repentance are listed below.</h6> 
                       <hr class="text-primary mb-1">
                      <p class="m-0 text-break lh-base small "><strong class="text-primary">Note</strong> : Contact any with 'active' status using the provided communication 
                      methods to begin or continue your journey in God's love and the path to true. </p>
                      <p class="m-0 text-break lh-base small pb-1">የቀረበውን ግንኙነት በመጠቀም 'ገባሪ' ሁኔታ ያለውን ማንኛውንም ያነጋግሩ በእግዚአብሔር ፍቅር እና ወደ 
                        እውነተኛው መንገድ ጉዞህን ለመጀመር ወይም ለመቀጠል ያስችሎታል ።
                    </p>
                    
                    </div>
                    <hr>
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-2 g-3">
                          {% for father in fathers %}
                          <div class="col">
                              <div class="card shadow mb-5 bg-body rounded">
                                <img class="bd-placeholder-img p-1"
                                      src="{{ father.image.url }}" alt="{{ father.full_name }}"
                                      width="100%" height="200">

                                  <div class="card-body small">
                                      <h6 class="card-title">{{ father.full_name }}</h6>
                                      <hr>
                                      <p class="card-text small">{{ father.experience_summary|truncatewords:20 }}</p>
                                      <hr>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                              <a href="{% url 'services:father_of_repentance_detail' father.slug %}" 
                                                 class="btn btn-sm btn-outline-primary rounded-pill">View</a>
                                          </div>
                                          <small class="text-secondery small">
                                            status: <span class="rounded-pill bg-success px-3 text-light small">{{ father.availability_states }}</span>
                                          </small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="d-flex justify-content-center">
                          {% if is_paginated %}
                              <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                      <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                  {% endif %}
                                  
                                  <li class="page-item active">
                                      <a class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                                  </li>
                                  
                                  {% if page_obj.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                                  {% endif %}
                              </ul>
                          {% endif %}
                      </div>
                    {% endif %}
                  </div>
              </div>
              
            </div>
        </div>
    </main>
</div>

{% endblock %}