{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}Funeral Services{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-5">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'services:service' %}">Services <span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">FuneralServices</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-2 px-3 ">
                <h1 class="mb-2 text-light fs-4 small">Funeral Services</1>
                <h6  class="mb-2 bolder text-light small">የቀብር  ፍተዓት ፅሎተ</h6>
                <h6  class="mb-2 bolder text-light small">የቀብር  ፍተዓት ፅሎተ  አገልግሎት "ጽድቅን አድርግ፥ ምሕረትን ውደድ፥ ከአምላክህ ጋር በትሕትና ተመላለስ።" ሚክያስ 6:8</h6>
            </div>
        </div>
    </div>
    <!-- Example Code -->
    <div class="card">
        <div class="card-header px-3 bg-white">
            <ul class="nav nav-pills justify-content-end" id="pills-tab" role="tablist">
                <li class="nav-item dropdown small">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Language</a>
                    <ul class="dropdown-menu small">
                        <li class="nav-item" role="presentation">
                        <button class="dropdown-item " id="pills-Amharic-tab" data-bs-toggle="pill" data-bs-target="#pills-Amharic" type="button" role="tab" aria-controls="pills-Amharic">አማርኛ</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="dropdown-item " id="pills-English-tab" data-bs-toggle="pill" data-bs-target="#pills-English" type="button" role="tab" aria-controls="pills-English" >English</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="tab-content" id="pills-tabContent">
            <!-- Amharic Code -->
            <div class="tab-pane fade show active" id="pills-Amharic" role="tabpanel" aria-labelledby="pills-Amharic-tab" tabindex="0">
                <div class="container my-4 ">
                    <!-- ራስጌ -->
                    <div class="card px-3">
                    <div class="card-body">
                    <h3 class="card-title text-center fs-5 mb-4">የቀብር ሥነ ሥርዓት ሂደት - የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን</h3>
                    <hr/>
                    <!-- የቀብር አገልግሎት ለማግኘት እርምጃዎች -->
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 1፡ የፓሪሽ ቄስ ያነጋግሩ</h6>
                    <hr />
                    የቀብር ሥነ ሥርዓትን ለማዘጋጀት የመጀመሪያው እርምጃ በአካባቢዎ የሚገኘውን የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ሰበካ ቄስ ማነጋገር ነው። ካህኑ በአስፈላጊ ዝግጅቶች የመጀመሪያ መመሪያ እና እርዳታ ይሰጣል. የሚወዱትን ሰው ካለፉ በኋላ በተቻለ ፍጥነት ይህን ማድረግ አስፈላጊ ነው.
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 2፡ አስፈላጊ ሰነዶችን ያቅርቡ</h6>
                    <hr />
                    የሚከተሉትን ጨምሮ የተወሰኑ ሰነዶችን ማቅረብ ያስፈልግዎታል
                    <ul>
                    <li>ከሚመለከታቸው ባለስልጣናት የተሰጠ የሞት የምስክር ወረቀት።</li>
                    የጥምቀት መዝገቦች ወይም የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን አባልነት ማረጋገጫ።</li>
                    </ul>
                    እነዚህ ሰነዶች የሟቹን ሁኔታ ለማረጋገጥ እና ለቀብር ሥነ ሥርዓቶች ዝግጅትን ያመቻቻል.
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 3፡ የቀብር አገልግሎቱን መርሐግብር ያስይዙ</h6>
                    <hr />
                    የቀብር ሥነ ሥርዓቱን ቀን እና ሰዓቱን ለማስያዝ ከደብሩ ቄስ ጋር ይስሩ። ይህ አብዛኛውን ጊዜ የቤተሰቡን ምርጫ እና የቤተ ክርስቲያንን ተገኝነት ግምት ውስጥ ያስገባል። የቀብር ሥነ ሥርዓቱ ብዙውን ጊዜ የሚካሄደው ከሞተ በኋላ ባሉት ጥቂት ቀናት ውስጥ ነው።
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 4፡ ለመነቃቃት እና ለመንቃት ይዘጋጁ</h6>
                    <hr />
                    የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ትውፊት ቤተሰብና ወዳጅ ዘመዶቻቸው ተሰባስበው የሚጸልዩበትና የሚጸልዩበት ነቅቶ መጠበቅን ያጠቃልላል። ብዙውን ጊዜ የቀብር ሥነ ሥርዓቱ ከመፈጸሙ በፊት በነበረው ምሽት፣ በሟች ቤት ወይም በቤተ ክርስቲያን ውስጥ ይህ ንቃት እንዲካሄድ ያዘጋጁ።
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 5፡ የቀብር ሥነ ሥርዓት እና የቀብር ሥነ ሥርዓት አዘጋጅ</h6>
                    <hr />
                    የቀብር ሥነ ሥርዓቱ ራሱ በቤተ ክርስቲያን ውስጥ ሥርዓተ አምልኮን ያካትታል, ከዚያም የቀብር ሥነ ሥርዓቱ ይከተላል. የቤተክርስቲያኑ አገልግሎት እና የቀብር ቦታ ዝግጅት መደረጉን ያረጋግጡ። አገልግሎቱ ወደ መጨረሻው የቀብር ሥነ ሥርዓት የሚመራ ጸሎቶችን፣ ዝማሬዎችን እና ውዳሴዎችን ያካትታል።
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 6፡ ከቀብር በኋላ የሚደረግ አቀባበል</h6>
                    <hr />
                    ከቀብር ሥነ ሥርዓቱ በኋላ ቤተሰብ እና ጓደኞች እንዲሰበሰቡ፣ ትውስታቸውን እንዲያካፍሉ እና ለሐዘንተኛው ቤተሰብ ድጋፍ እንዲሰጡ ግብዣ ማድረግ የተለመደ ነው። ይህንን አቀባበል በቤተክርስቲያኑ አዳራሽ ወይም ሌላ ተስማሚ ቦታ ለማድረግ እቅድ ያውጡ።
                    </p>
                
                    <p class="card-text text-break lh-base">
                    <h6>ደረጃ 7፡ የመታሰቢያ አገልግሎቶች</h6>
                    <hr />
                    የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያንም ከቀብር ሥነ ሥርዓቱ በኋላ እንደ ሦስተኛው፣ ሰባተኛው፣ 40ኛው ቀን እና በየዓመቱ ያሉ የመታሰቢያ ሥርዓቶችን በየተወሰነ ጊዜ ታደርጋለች። የሟቹን መታሰቢያ ለማክበር እነዚህን አገልግሎቶች ለማስያዝ ከፓሪሽ ካህን ጋር ያማክሩ.
                    </p>
                
                    </div>
                    </div>
                </div>
            </div>
            <!-- English Code -->
            <div class="tab-pane fade " id="pills-English" role="tabpanel" aria-labelledby="pills-English-tab" tabindex="0">
                <div class="container my-4">
                    <!-- Header -->
                    <div class="card px-3">
                        <div class="card-body small">
                            <h3 class="card-title text-center mb-4">Funeral Services Process - Ethiopian Orthodox Tewahedo Church</h3>
                            <hr />
                            <!-- Steps to Get Funeral Service -->
                            <p class="card-text text-break lh-base">
                                <h6>Step 1: Contact the Parish Priest</h6>
                                <hr />
                                The first step in arranging a funeral service is to contact the parish priest of your local Ethiopian Orthodox Tewahedo Church. The priest will provide initial guidance and help with the necessary arrangements. It’s important to do this as soon as possible after the passing of a loved one.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 2: Provide Required Documentation</h6>
                                <hr />
                                You will need to provide certain documents, including:
                                <ul>
                                    <li>A death certificate from the relevant authorities.</li>
                                    <li>Baptismal records or proof of membership in the Ethiopian Orthodox Tewahedo Church.</li>
                                </ul>
                                These documents help verify the deceased's status and facilitate the preparation for the funeral rites.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 3: Schedule the Funeral Service</h6>
                                <hr />
                                Work with the parish priest to schedule the date and time for the funeral service. This will usually take into consideration the family's preferences and the availability of the church. The funeral service is often held within a few days of the death.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 4: Prepare for the Wake and Vigil</h6>
                                <hr />
                                The Ethiopian Orthodox Tewahedo Church tradition includes a wake and vigil where family and friends gather to pray and pay their respects. Arrange for this vigil to take place, often the night before the funeral, at the deceased's home or at the church.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 5: Arrange for Funeral Liturgy and Burial</h6>
                                <hr />
                                The funeral service itself includes a liturgy at the church, which is followed by the burial. Ensure that arrangements for the church service and the burial site are made. The service will include prayers, hymns, and eulogies, leading to the final burial rites.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 6: Post-Funeral Reception</h6>
                                <hr />
                                After the burial, it is customary to hold a reception for family and friends to gather, share memories, and offer support to the grieving family. Plan this reception to be held either at the church hall or another suitable venue.
                            </p>
            
                            <p class="card-text text-break lh-base">
                                <h6>Step 7: Commemorative Services</h6>
                                <hr />
                                The Ethiopian Orthodox Tewahedo Church also holds memorial services at regular intervals after the funeral, such as the third, seventh, 40th day, and annually. Consult with the parish priest to schedule these services to honor the memory of the deceased.
                            </p>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div >
   
</div>
{% endblock %}