{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}services list{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event pb-5">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'services:service' %}">Services <span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">sacrament</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center py-1">
                <h5  class="mb-2 bolder text-light small">ቅዱስ ቁርባንን ለመቀበል የሚያስፈልጉ ዝርዝር ጉዳዮች ከስር ተዘርዝረዋል ከልቦ ይመልከቱት ::</h6>
                <h1 class="mb-2 text-light fs-5">The details required to receive Holy Communion are listed below.</1>
            </div>
        </div>
    </div>

      <!-- Example Code -->
      <div class="row g-5">
        <div class="col-sm-6 col-lg-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title px-2">እንደ ኢ/ኦ/ተ/ቤ/ክ ቅዱስ ቁርባን ለምን ያስፈልገናል?</h6>
                <hr/>
                <p class="card-text small p-2 lh-lg">
                    የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተክርስቲያን (ኢ.ኦ.ተ.ቤ.ክ) ለሥርዓተ ቁርባን (ቁርባን ወይም ቅዳሴ በግእዝ) እጅግ ታከብራለች። 
                    ይህ ቅዱስ ቁርባን የእምነቱ እና የስርዓተ አምልኮው የማዕዘን ድንጋይ ነው፣ ይህም የቤተክርስቲያን ቁርባንን እንደ ትክክለኛው የክርስቶስ አካል እና ደም፣ የአማኝ መንፈሳዊ ህይወት ማዕከላዊ የሆነ ግንዛቤን ያካትታል። 
                    የኢ/ኦ/ተ/ቤ/ክ አስተምህሮት ስለ ቅዱስ ቁርባን ያስተማረው የኢትዮጵያ ኦርቶዶክስ መጽሐፍ ቅዱስን ጨምሮ በቅዱሳት መጻህፍት ላይ የተመሰረተ ነው— ብዙ ቀኖና እና ዲዩትሮካኖናዊ መጻሕፍትን እና በትውፊት ውስጥ የተከበሩ ተጨማሪ ቅዱሳት መጻሕፍትን ያካትታል።
                </p>
                <h3 class="card-title fs-5 px-2">why do we need Holy Communion as of  EOTC ?</h3>
                <hr/>
                <p class="card-text small p-2 lh-base">
                    The Ethiopian Orthodox Tewahedo Church (EOTC) reveres deeply for the sacrament of Holy Communion (Qurban or Qiddase in Ge'ez). 
                    This sacrament is a cornerstone of its faith and liturgy, embodying the Church’s understanding of the Eucharist as the actual body and blood of Christ, 
                    a mystery central to the believer's spiritual life. The EOTC's teachings on Holy Communion are rooted in its sacred texts, 
                    which include the Ethiopian Orthodox Bible—a rich collection comprising canonical and deuterocanonical books and additional scriptures revered within the tradition.
                </p>
                <hr/>
                <div class="d-flex justify-content-evenly small">
                    <a href="{% url "schools:childrenSchool" %}" class="btn btn-sm btn-outline-primary px-3 py-2 rounded-pill small">more For Children </a>
                    <a href="{% url 'schools:youthSchool' %}" class="btn btn-sm btn-outline-primary px-3 py-2 rounded-pill small">more for youth</a>
                </div>
              </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-12">
          <div class="card border rounded border-primary">
            <div class="card-title pt-3 text-center ">
                <h6 class="card-title">እንዴት አድርገን ቅዱስ ቁርባንን እንደምንቀበል የሚያሳዩ ዝርዝር ቅድመ ተከተሎች</h6>
            </div>
            <hr/>
            <div class="card-body mb-2">   
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col">
                        <div class="card border-0 rounded ">
                            <div class="card-body">
                                <p class="small text-break lh-lg">በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን (ኢ.ኦ.ተ.ቤ.) 
                                ሁሉም ከሕጻናት እስከ አዋቂዎች በሥርዓተ ቅዳሴው እንዲሳተፉ ይበረታታሉ። ቅዱስ ቁርባንን ከመቀበላቸው 
                                በፊት እና በኋላ ለሁሉም ዕድሜዎች፣ በተለይም ለህፃናት፣ እርምጃዎች እና ሂደቶች አጠቃላይ እይታ እዚህ አለ።
                                ከዚህ በታች ተዘርዝረው የሚገኙት እንዴት አድርገን ቅዱስ ቁርባንን እንደምንቀበል የሚያሳዩ ዝርዝር ቅድመ ተከተሎች ናቸው 
                                ከልብ አድርገው ይከታተሉ !! 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded  ">
                            <div class="card-body ">
                                <p class="card-title small text-break lh-base">
                                    In the Ethiopian Orthodox Tewahedo Church (EOTC), 
                                    everyone, from children to elders, 
                                    is encouraged to take part in the sacrament. 
                                    Here's an overview of the steps and procedures for all ages, 
                                    especially children, before and after receiving the sacrament.
                                    Listed below are detailed instructions on how to receive the Holy 
                                    Communion; you must follow it from the heart!.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body rounded ">
                <nav>
                  <div class="nav  btn-group gap-2" id="nav-tab" role="tablist">
                    <button class="btn btn-sm  btn-outline-primary active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">For children</button>
                    <button class="btn btn-sm  btn-outline-primary" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">For youth and adults</button>
                  </div>
                </nav>
                <div class="tab-content " id="nav-tabContent">
                  <div class="tab-pane fade show active border border-secondery rounded mt-3 p-2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-12 small">
                    
                                <!-- መግቢያ -->
                                <p class="small">በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ማኅበረ ቅዱሳን ለመጀመሪያ ጊዜ እና ለተከታታይ ጊዜያት የሚደረገው ቁርባንን የመቀበል ሂደት በትውፊትና በመንፈሳዊ ዝግጅት የተሞላ ነው። የወንዶች (40 ቀን) እና የሴቶች (80 ቀን እድሜ ያላቸው) ደረጃዎች እና ሂደቶች ከዚህ በታች ተዘርዝረዋል፡</p>

                                <!-- ለመጀመሪያ ቁርባን ቅድመ-እርምጃዎች -->
                                <div class="mb-4">
                                <h6 class="mb-3">የመጀመሪያው የቅዱስ ቁርባን ቅድመ-እርምጃዎች</h6>

                                <ul class="list-group mb-3">
                                <!-- የሕጻናት አቀራረብ ለቤተ ክርስቲያን -->
                                <li class="list-group-item">
                                <strong>የጨቅላ ሕፃናት አቀራረብ ለቤተክርስቲያን፡</strong>
                                <p class="mb-0">በ40ኛው ቀን ለወንዶች በ80ኛው ቀን ለሴቶች ህጻን ለመጀመሪያ ጊዜ መደበኛ መግቢያ እና ቡራኬ ወደ ቤተ ክርስቲያን ይመጣሉ። ልጁን ለማቅረብ ወላጆች እና የአማልክት አባቶች ቁልፍ ሚና ይጫወታሉ።</p>
                                </li>

                                <!-- የወላጅ እና የወላጅ አባት ዝግጅት -->
                                <li class="list-group-item">
                                <strong>የወላጅ እና የወላጅ አባት ዝግጅት፡</strong>
                                <p class="mb-0">ወላጆች እና አባቶች በጸሎት እና በጾም ራሳቸውን ማዘጋጀት አለባቸው። እንዲሁም ከልጁ ጋር በመሆን በቅዱስ ቁርባን ለመካፈል በመንፈሳዊ ዝግጁ ለመሆን በኑዛዜ መገኘት አለባቸው።</p>
                                </li>

                                <!-- የጥምቀት እና የገና ሥርዓቶች -->
                                <li class="list-group-item">
                                <strong>የጥምቀት እና የገና ሥርዓቶች፡</strong>
                                <p class="mb-0">ቅዱስ ቁርባንን ከማግኘቱ በፊት ህፃኑ የጥምቀት እና የጥምቀትን (የቅባት ቅብዓት) ምሥጢራትን ይፈጽማል ይህም ሕፃኑን በማንጻትና በመቀደስ ቅዱስ ቁርባንን ለመቀበል ዝግጁ ያደርጋል። >
                                </li>
                                </ul>
                                </div>

                                <!-- በመጀመሪያው የቅዱስ ቁርባን ጊዜ ሂደቶች -->
                                <div class="mb-4">
                                <h4 class="mb-3">በመጀመሪያው የቅዱስ ቁርባን ጊዜ ሂደቶች</h4>

                                <ul class="list-group mb-3">
                                <!-- ወደ መቅደሱ መግባት -->
                                <li class="list-group-item">
                                <strong>ወደ መቅደሱ መግቢያ፡</strong>
                                <p class="mb-0">ካህኑ ሕፃኑን ወደ ቅድስተ ቅዱሳኑ (ቅድስተ ቅዱሳን) ወስዶ በመሠዊያው ፊት ያቀርባል። ይህ ድርጊት የልጁን ወደ ቤተክርስቲያን ህይወት መግባትን ያመለክታል።</p>
                                </li>

                                <!-- በረከት እና ቅባት -->
                                <li class="list-group-item">
                                <strong>በረከት እና ቅባት፡</strong>
                                <p class="mb-0">ካህኑ ሕፃኑን ባርኮታል እና በክርስቲያን ማኅበረሰብ ውስጥ መጀመራቸውን የሚያመለክት ቅዱስ ዘይት ይቀባቸው።</p>
                                </li>

                                <!-- ቁርባንን መቀበል -->
                                <li class="list-group-item">
                                <strong>ቅዱስ ቁርባንን መቀበል፡</strong>
                                <p class="mb-0">ሕፃኑ የተቀደሰውን ዳቦ እና ወይን ትንሽ ክፍል ይቀበላል፣ ይህም በቅዱስ ቁርባን ውስጥ የመጀመሪያ ተሳትፎአቸውን ያሳያል። ይህ በተለምዶ በካህኑ የሚተዳደረው ማንኪያ በመጠቀም ነው።</p>
                                </li>
                                </ul>
                                </div>
                                                    
                                <!-- ከመጀመሪያው ቅዱስ ቁርባን በኋላ ያሉ ድህረ-እርምጃዎች -->
                                <div class="mb-4">
                                    <h4 class="mb-3">ከመጀመሪያው ቅዱስ ቁርባን በኋላ የተከናወኑ እርምጃዎች</h4>
                                
                                    <ul class="list-group mb-3">
                                    <!-- የምስጋና ጸሎቶች -->
                                    <li class="list-group-item">
                                    <strong>የምስጋና ጸሎቶች፡</strong>
                                    <p class="mb-0">ቅዱስ ቁርባንን ከተቀበሉ በኋላ፣ ቤተሰቡ አብረው ይጸልያሉ፣ ለቅዱስ ቁርባን እና ለተቀበሉት በረከቶች እግዚአብሔርን እያመሰገኑ።</p>
                                    </li>
                                
                                    <!-- አከባበር ስብሰባ -->
                                    <li class="list-group-item">
                                    <strong>አከባበር ስብሰባ፡</strong>
                                    <p class="mb-0">የልጁን የመጀመሪያ ቅዱስ ቁርባን ለማክበር የቤተሰብ መሰብሰቢያ ወይም ምግብ መብላት የተለመደ ነው፣ይህም የበዓሉን የጋራ እና አስደሳች ተፈጥሮን ያጠናክራል።</p>
                                    </li>
                                
                                    <!-- በኅብረት ውስጥ መደበኛ ተሳትፎ -->
                                    <li class="list-group-item">
                                    <strong>በኅብረት ውስጥ መደበኛ ተሳትፎ፡</strong>
                                    <p class="mb-0">ቤተሰቦች ልጆቻቸውን አዘውትረው ቅዱስ ቁርባንን እንዲቀበሉ ይበረታታሉ፣ ይህም ቀጣይነት ያለው መንፈሳዊ እድገት እና ከቤተክርስትያን ጋር ግንኙነት እንዲኖር ያደርጋል።</p>
                                    </li>
                                    </ul>
                                    </div>
                                
                                    <!-- ለሚቀጥሉት የቅዱስ ቁርባን አገልግሎቶች ቅድመ-እርምጃዎች -->
                                    <div class="mb-4">
                                    <h4 class="mb-3">ለቀጣይ የቅዱስ ቁርባን አገልግሎት ቅድመ-እርምጃዎች</h4>
                                
                                    <ul class="list-group mb-3">
                                    <!-- መደበኛ ኑዛዜ እና ንስሐ -->
                                    <li class="list-group-item">
                                    <strong>ዘወትር መናዘዝ እና ንስሃ መግባት፡</strong>
                                    <p class="mb-0">ልጆችም ሆኑ ወላጆች አዘውትረው እንዲናዘዙ እና ንስሐ እንዲገቡ ይበረታታሉ፣ ይህም በንፁህ ልብ ወደ ቅዱሳን ቁርባን መቅረብ አለባቸው።</p>
                                    </li>
                                
                                    <!-- የጾም ሕግጋትን ማክበር -->
                                    <li class="list-group-item">
                                    <strong>የጾም ሕግጋትን ማክበር፡</strong>
                                    <p class="mb-0">የጾም ሕግጋትን ማክበር አስፈላጊ ነው። ይህም ከእኩለ ሌሊት ጀምሮ በቅዱስ ቁርባን ቀን ቁርባን እስኪቀበል ድረስ እና በቤተክርስቲያኑ በተደነገገው መሠረት መደበኛ የጾም ቀናትን ማክበርን ይጨምራል።
                                    </li>
                                
                                    <!-- ጸሎት እና መንፈሳዊ ዝግጁነት -->
                                    <li class="list-group-item">
                                    <strong>ጸሎት እና መንፈሳዊ ዝግጁነት፡</strong>
                                    <p class="mb-0">ቤተሰቦች በጸሎት እና በማሰላሰል፣ መንፈሳዊ አስተሳሰብን በማጎልበት እና ቅዱስ ቁርባንን ለመቀበል ዝግጁ መሆን አለባቸው።</p>
                                    </li>
                                    </ul>
                                    </div>                               
                                                    
                                <!-- በመደበኛው የቅዱስ ቁርባን አገልግሎት ጊዜ ሂደቶች -->
                                <div class="mb-4">
                                    <h4 class="mb-3">በመደበኛ የቅዱስ ቁርባን አገልግሎቶች ጊዜ ሂደቶች</h4>
                                
                                    <ul class="list-group mb-3">
                                    <!-- መለኮታዊ ቅዳሴ መገኘት -->
                                    <li class="list-group-item">
                                    <strong>በመለኮታዊ ቅዳሴ ላይ መገኘት፡</strong>
                                    <p class="mb-0">ቤተሰቦች በመለኮታዊ ቅዳሴ ላይ ይሳተፋሉ፣ እሱም በቅዱስ ቁርባን ያበቃል። ልጆች በቅዳሴ ጸሎቶች እና ዝማሬዎች ተገኝተው በትኩረት ሊከታተሉ ይገባል።</p>
                                    </li>
                                
                                    <!-- ቁርባንን በአክብሮት መቀበል -->
                                    <li class="list-group-item">
                                    <strong>ቅዱስ ቁርባንን በአክብሮት መቀበል፡</strong>
                                    <p class="mb-0">በአክብሮት ወደ ካህኑ ቅረብ እና ቁርባንን በጥንቃቄ ተቀበል። ትንንሽ ልጆች ቅዱስ ቁርባንን በትክክል መቀበላቸውን ለማረጋገጥ ወላጆች መርዳት ሊያስፈልጋቸው ይችላል።</p>
                                    </li>
                                
                                    <!-- የድህረ-ቁርባን ጸሎቶች -->
                                    <li class="list-group-item">
                                    የ<strong>ድህረ-ቁርባን ጸሎቶች፡</strong>
                                    <p class="mb-0">ከቁርባን በኋላ በምስጋና ጸሎቶች ተሳተፉ እና በሚያንጸባርቅ ሁኔታ ውስጥ ይቆዩ፣ አሁን የተቀበለውን የቁርባንን መንፈሳዊ ጠቀሜታ ግምት ውስጥ ያስገቡ።</p>
                                    </li>
                                    </ul>
                                    </div>
                                
                                    <!-- ከመደበኛው የቅዱስ ቁርባን አገልግሎት በኋላ ያሉ ድህረ እርምጃዎች -->
                                    <div class="mb-4">
                                    <h4 class="mb-3">ከመደበኛው የቅዱስ ቁርባን አገልግሎቶች በኋላ የተደረጉ እርምጃዎች</h4>
                                
                                    <ul class="list-group mb-3">
                                    <!-- መንፈሳዊ ነጸብራቅ እና እድገት -->
                                    <li class="list-group-item">
                                    <strong>መንፈሳዊ ነጸብራቅ እና እድገት፡</strong>
                                    <p class="mb-0">ልጆች በተሞክሮው ላይ እንዲያሰላስሉ እና ትርጉሙን እንዲወያዩበት አበረታታቸው። ይህም ስለ ቅዱስ ቁርባን ያላቸውን ግንዛቤ እና አድናቆት ለማሳደግ ይረዳል።</p>
                                    </li>
                                
                                    <!-- በቤተሰብ ጸሎት መሳተፍ -->
                                    <li class="list-group-item">
                                    <strong>በቤተሰብ ጸሎት መሳተፍ፡</strong>
                                    <p class="mb-0">የቤተሰብ ጸሎትን አዘውትረህ ጠብቅ፣ የቤተክርስቲያኗን ትምህርቶች እና መንፈሳዊ ልምምዶች በዕለት ተዕለት ሕይወት ውስጥ በማጠናከር።</p>
                                    </li>
                                
                                    <!-- ቀጣይነት ያለው ትምህርት በእምነት -->
                                    <li class="list-group-item">
                                    <strong>የቀጠለ ትምህርት በእምነት፡</strong>
                                    <p class="mb-0">በሰንበት ትምህርት ቤት እና በቤተ ክርስቲያን እንቅስቃሴዎች የህፃናትን ቀጣይነት ያለው የሃይማኖት ትምህርት መደገፍ፣ የእድሜ ልክ ከእምነት ጋር ትስስር መፍጠር።</p>
                                    </li>
                                    </ul>
                                    </div>                               
                    
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade border border rounded mt-3 " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <div class="text-start ">
                        <div class="card-body ">
                            <div class="card-title mt-5 px-3 small">
                                <h6 class="mb-2">የቅድመ-ቁርባን ሥርዓት በኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን</h6>
                                <hr/>
                                <h5 class="mb-2 fs-6">የቅድመ-ቁርባን እርምጃዎች እና ሂደቶች</h5>

                                <hr/>
                                <div class="mb-2">
                                <p><strong>1. ዝግጅት እና ራስን መመርመር</strong></p>
                                <p class="text-justify">ምእመናን ራሳቸውን እንዲያንጸባርቁ እና ህሊናን እንዲመረምሩ ይበረታታሉ። ይህ ሂደት የ1ኛ ቆሮንቶስ 11፡28 መመሪያን በመከተል በንፁህ ልብ ወደ ቅዱስ ቁርባን ለመቅረብ ለኃጢአቶች ንስሃ መግባትን ያካትታል።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>2. ኑዛዜ (ምስጢረ ንስሐ)</strong></p>
                                <p class="text-justify">ሀጢያትን ለካህን መናዘዝ ወሳኝ እርምጃ ነው። የንስሐ (ወይም ኑዛዜ) ቁርባን ግዴታ ነው፣ ​​ምክንያቱም ፍጽምናን የሚሰጥ እና ነፍስ ቅዱስ ቁርባንን በተገቢው መንገድ ለመቀበል ስለሚያዘጋጅ።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>3. ጾም</strong></p>
                                <p class="text-justify">ጾም ቅዱስ ቁርባን ከተቀበለበት ቀን በፊት በመንፈቀ ሌሊት ከመብል እና ከመጠጥ በመታቀብ ይከበራል። ይህ ራስን የመግዛት እና የመሰጠት ተግባር ሥጋንም ነፍስንም ለቅዱስ ቁርባን ለማዘጋጀት ይረዳል።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>4. በመለኮታዊ ቅዳሴ ላይ መገኘት</strong></p>
                                <p class="text-justify">ተሳታፊዎች ከመጀመሪያው ጀምሮ በመለኮታዊ ቅዳሴ (Qiddase) ላይ እንዲገኙ ይጠበቃል። ለአገልግሎቱ በሙሉ መገኘት ለመንፈሳዊ ዝግጅት እና በጋራ አምልኮ ውስጥ ተሳትፎ አስፈላጊ ነው።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>5. ጸሎት እና ማሰላሰል</strong></p>
                                <p class="text-justify">አገልግሎቱ ከመበረታቱ በፊት በግል ጸሎት እና ማሰላሰል መሳተፍ። ይህም አእምሮን እና መንፈስን በቅዱስ ቁርባን ምስጢር እና በቅዱስ ቁርባን ውስጥ በክርስቶስ መገኘት ላይ ለማተኮር ይረዳል።</p>
                                </div>
                               
                                <h6 class="mb-3 fs-6">ከቁርባን በኋላ ደረጃዎች እና ሂደቶች</h6>
                                <hr/>
                                <div class="mb-4">
                                <p><strong>1. ምስጋና ማቅረብ</strong></p>
                                <p class="text-justify">ቅዱስ ቁርባን ከተቀበሉ በኋላ አማኞች የምስጋና ጸሎት እንዲያቀርቡ ይበረታታሉ። እነዚህ ጸሎቶች በቅዱስ ቁርባን በኩል ለተቀበሉት ጸጋ እና መንፈሳዊ ምግብ ምስጋናቸውን ይገልጻሉ።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>2. በምስጢር ላይ ማንጸባረቅ</strong></p>
                                <p class="text-justify">የድህረ-ቁርባን ነፀብራቅ የክርስቶስን በቅዱስ ቁርባን ውስጥ የመገኘቱን ጥልቅ ምስጢር ማሰላሰልን ያካትታል። ይህ ጊዜ ጥልቅ የሆነ የመንፈሳዊ ውስጣዊ እይታ እና አክብሮት ነው።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>3. በቅድስና መኖር</strong></p>
                                <p class="text-justify">ቅዱስ ቁርባንን መቀበል ቅዱስ እና ጻድቅ ህይወት ለመኖር ቁርጠኝነትን ይጠይቃል። አማኞች የክርስቶስን ትምህርት እንዲይዙ እና በዕለት ተዕለት ተግባራቸው በቅዱስ ቁርባን የሚሰጠውን ቅድስና እንዲጠብቁ ያሳስባሉ።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>4. ቀጣይነት ያለው ጸሎት እና ትጋት</strong></p>
                                <p class="text-justify">የቀጠለ በግል ጸሎት እና አምልኮ ውስጥ መሳተፍ የቅዱስ ቁርባን መንፈሳዊ ጥቅሞችን ለማስጠበቅ ይበረታታል። በቤተ ክርስቲያን ሕይወት እና በቅዱስ ቁርባን አዘውትሮ መሳተፍ ከእግዚአብሔር እና ከማህበረሰቡ ጋር ያለውን ግንኙነት ያጠናክራል።</p>
                                </div>
                               
                                <div class="mb-4">
                                <p><strong>5. የማህበረሰብ ህብረት</strong></p>
                                <p class="text-justify">ከሌሎች የቤተክርስቲያኑ ማህበረሰብ አባላት ጋር ህብረት ማድረግ የድህረ-ቁርባን ህይወት አስፈላጊ ገጽታ ነው። በጋራ ተግባራት መካፈል እና መደጋገፍ በቅዱስ ቁርባን ያደገውን አንድነት እና ፍቅር ያጠናክራል።</p>
                                </div>
                            </div>
                        </div>
                        <hr class="px-2 text-primary" />
                        <div class="card-body">
                            <div class="card-title mt-3 px-3 small ">
                                <h1 class="mb-4 fs-4">Holy Communion Procedures in the Ethiopian Orthodox Tewahedo Church</h1>
                                <hr />
                                <h2 class="mb-3 fs-6">Pre-Communion Steps and Procedures</h2>
                                <hr />
                                <div class="mb-4">
                                    <p><strong>1. Preparation and Self-Examination</strong></p>
                                    <p class="text-justify">Believers are encouraged to engage in self-reflection and examination of conscience. This process involves recognizing and repenting for sins to approach the sacrament with a pure heart, following the guidance of 1 Corinthians 11:28.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>2. Confession (Sacrament of Penance)</strong></p>
                                    <p class="text-justify">Confessing one's sins to a priest is a crucial step. The Sacrament of Penance (or Confession) is mandatory, as it provides absolution and prepares the soul to receive the Holy Communion worthily.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>3. Fasting</strong></p>
                                    <p class="text-justify">Fasting is observed by abstaining from food and drink from midnight before the day of receiving Holy Communion. This act of self-discipline and devotion helps prepare both body and soul for the sacrament.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>4. Attending Divine Liturgy</strong></p>
                                    <p class="text-justify">Participants are expected to attend the Divine Liturgy (Qiddase) from the beginning. Being present for the entire service is important for spiritual preparation and participation in the communal worship.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>5. Prayer and Meditation</strong></p>
                                    <p class="text-justify">Engaging in personal prayer and meditation before the service is encouraged. This helps to focus the mind and spirit on the mystery of the Eucharist and the presence of Christ in the sacrament.</p>
                                </div>
                            
                                <h3 class="mb-3">Post-Communion Steps and Procedures</h3>
                                <hr />
                                <div class="mb-4">
                                    <p><strong>1. Offering Thanks</strong></p>
                                    <p class="text-justify">After receiving Holy Communion, believers are encouraged to offer prayers of thanksgiving. These prayers express gratitude for the grace and spiritual nourishment received through the Eucharist.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>2. Reflecting on the Mystery</strong></p>
                                    <p class="text-justify">Post-communion reflection involves contemplating the profound mystery of Christ’s presence in the Eucharist. This is a time for deep spiritual introspection and reverence.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>3. Living in Holiness</strong></p>
                                    <p class="text-justify">Receiving Holy Communion calls for a commitment to live a holy and righteous life. Believers are reminded to embody the teachings of Christ and to maintain the sanctity imparted by the sacrament in their daily actions.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>4. Continued Prayer and Devotion</strong></p>
                                    <p class="text-justify">Continued engagement in personal prayer and devotion is encouraged to sustain the spiritual benefits of the Eucharist. Regular participation in church life and sacraments strengthens the connection with God and the community.</p>
                                </div>
                            
                                <div class="mb-4">
                                    <p><strong>5. Community Fellowship</strong></p>
                                    <p class="text-justify">Fellowship with other members of the church community is an important aspect of post-communion life. Sharing in communal activities and supporting one another reinforces the unity and love fostered by the Eucharist.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Example Code -->
</div>
{% endblock %}