{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}sermon details{% endblock %}
{% block main %}
<div class="my-1 ">
    <!-- breadcrumb Start -->
    <div class="container-fluid bg-light pb-2 mb-2 mt-0">
        <div class="container animated bounceInDown ">
            <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                <li class="small"><a href="{% url 'services:service' %}">services <span class="px-1">\</span></a></li>
                <li class="small"><a href="{% url "services:sermon_media_list" %}">sermonList<span class="px-1">\</span></a></li>
                <li class="text-dark small" aria-current="page">sermonDetail</li>
            </ol>
        </div>
    </div>
  
     <!-- Service Start -->
     <div class="container-fluid service py-2">
        <div class="container mt-2">
            <div class="card">
                <div class="card-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe width="700" height="400" 
                        src="{{sermon_media.media_url}}?rel=0" 
                        title="2019 የትንሳኤ ጥዑመ  ዝማሬ" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ sermon_media.sermon.title }}</h5>
                    <p class="card-text">Media Type: {{ sermon_media.media_type }}</p>
                    <p class="card-text">Series: {{ sermon_media.sermon.series }}</p>
                    <!-- Add other fields as needed -->
                </div>
            </div>
            
        </div>
    </div>
    <!-- Service End -->
    {% if related_sermons %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row g-4 align-items-center py-5">
                <div class="col-lg-12">
                    <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                        <h4 class="mb-3">ተመሳሳይ ተጓዳኝ የሆኑ ስብከቶች ዝርዝር</h4>
                        <h3 class="text-church mb-4">List of related sermons</h3>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 wow bounceInUp">
                
                {% for related_sermon in related_sermons %}
                <div class="col">
                    <div class="card shadow">
                        {% comment %} <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{related_sermon.image.url }}" alt="{{ related_sermon.title }}">
                        <div class="card-body">
                        <p class="card-text small">{{ related_sermon.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-sm btn-primary my-auto p-2" 
                                href="{% url 'services:sermon_media_detail' related_sermon.pk %}">view</a>
                            {% comment %} <small class="text-muted">{{ related_sermon.updated| }}</small> {% endcomment %}
                            
                            <small class="text-muted">{{ related_sermon.updated | timesince }}</small>

                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}