{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}paymentCases cart List{% endblock %}
{% block main %}
<div class="container my-2">
<!-- Sermon  Start -->
<div class="event pb-5">
    <div class="mx-auto wow bounceInUp rounded" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown ">
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small"><a href="{% url "payments:payment_case_list" %}">paymentCaseList<span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page">paymentCaseCartList \</li>
                </ol>   
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 bolder text-light fs-4">Payment Cases cart List</h3>
            <h3 class="mb-2 text-primary fs-5">Payment Cases cart List show you the lis that you are going to pay.</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2>Your Cart</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for item in paymentCaseCart_items %}
        <tr>
          <td>{{ item.payment_case.title }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.payment_case.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'payments:checkout_view' %}" class="btn btn-primary">Proceed to Checkout</a> 
  </div>


</div>
{% endblock %}