{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}payment cases List{% endblock %}
{% block main %}
<div class="container my-2">
<!-- Sermon  Start -->
<div class="event pb-4">
    <div class="mx-auto wow bounceInUp rounded" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown small">
              <div>
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small"><a href="{% url "payments:payment_menu" %}">payment_menu<span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page">paymentCaseList \</li>
                </ol>       
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 bolder text-light fs-4">Payment Cases List</h3>
            <h3 class="mb-2 text-primary fs-5">Payment Cases List select from the list to pay</h1>
        </div>
    </div>
</div>
{% if payment_cases %}
  {% if payment_service_cases %}
  <div class="d-flex justify-content-between my-3">
    <div class="p-2 my-1">
      <h3 class="text-primary fs-4">Church services related Fees</h3>
      <small class="text-primary small">ከቤተክርስቲያን አገልግሎቶች ጋር የተያያዙ ክፍያዎች</small>
    </div>
    
    {% if user.is_authenticated %}
    <div class="p-2 my-1 mx-2">
      <a href="{% url "payments:paymentCaseCart_view" %}"
            class="btn btn-sm btn-primary px-3 py-2 rounded-pill" >
            <span id="cart_link" class="small text-white">Go to Checkout ( {{cart_count}} ) </span>
            <i class="fas fa-shopping-cart small text-white"></i>
      </a>
    </div>
  </div>
  <hr class="p-1 my-4 bg-primary border-primary">
{% endif %} 
  <div class="row row-cols-1 row-cols-md-3 mb-5 g-4">
        {% for case in payment_service_cases %}
          <div class="col">
            <div class="card shadow border border-primary">
                {% if case.image %}
                <img src="{{ case.image.url }}"  class="img-fluid rounded-top img-fixed-size" alt="{{ case.title }}">
                {% endif %}
              <div class="card-body small">
                <h3 class="card-title fs-5">{{ case.title }}</h3>
                <hr />
                <p class="card-text small">Description : {{ case.description|safe|truncatewords:10  }}</p>
                <hr />
                <p class="card-text text-success"><strong>Amount: ${{ case.amount }}</strong></p>
                <hr />
                <div class="btn-group gap-3">
                  <a href="{% url 'payments:payment_case_detail' case.slug %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Details</a>
                  <form action="{% url 'payments:addToPaymentCaseCart_view' slug=case.slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Add to Cart</button>
                  </form>
                </div>
                {% comment %} <a href="{{case.stripsPayment_link}}" class="btn btn-sm btn-primary px-3 py-2 rounded-pill" target="_blank">Go pay</a>  {% endcomment %}
              </div>
            </div>
          </div>
        {% endfor %}
  </div>  
  {% endif %}
  
  {% if payment_Other_cases %} 
    <div class="px-3 px-4 my-5 border-primary  border-bottom text-primary">
      <h3 class="text-primary fs-5">Other Payment-Related Fees </h3>
        <span class="small px-6">ከሌሎች ጉዳዮች ጋር የተያያዙ ክፍያዎች</span>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for case in payment_Other_cases %}
            {% if not case.category == 'donation' %}
            <div class="col">
              <div class="card shadow border border-primary">
                  {% if case.image %}
                  <img src="{{ case.image.url }}"  class="img-fluid rounded-top img-fixed-size p-1" alt="{{ case.title }}">
                  {% endif %}
                <div class="card-body small">
                  <h3 class="card-title fs-5">{{ case.title }}</h3>
                  <hr />
                  <p class="card-text small">Description : {{ case.description|safe|truncatewords:10}}</p>
                  <hr />
                  <p class="card-text text-success"><strong>Amount: ${{ case.amount }}</strong></p>
                  <hr />
                  <div class="btn-group gap-3">
                    <a href="{% url 'payments:payment_case_detail' case.slug %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Details</a>
                  </div>
                  <a href="{{case.stripsPayment_link}}" class="btn btn-sm btn-primary px-3 py-2 rounded-pill" target="_blank">Go pay</a> 
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
    </div>
  {% endif %}
  {% if payment_donation_cases %}
    <div class="px-3 py-4 my-5 border-primary  border-bottom text-primary">
      <h3 class="text-primary fs-3">Donation cases List</h3>
        <span class="small px-6"></span>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-2 my-2">
      {% for case in payment_donation_cases %}
      <div class="col">
          <div class="card shadow border border-primary">
              {% if case.image %}
              <img src="{{ case.image.url }}" class="img-fluid rounded-top img-fixed-size " alt="{{ case.title }}">
              {% endif %}
              <div class="card-body small">
                  <h3 class="card-title fs-5">{{ case.title }}</h3>
                  <hr />
                  <div class="card-text small">Description: {{ case.description|truncatewords:10|safe }}</div>
                  <hr />
                  <p class="card-text text-success"><strong>Amount: ${{ case.amount }}</strong></p>
                  <hr />
                  <div class="btn-group gap-3">
                      <a href="{% url 'pages:donation-detail' case.slug %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Details</a>
                  </div>
                  <a href="{{ case.stripsPayment_link }}" class="btn btn-sm btn-primary px-4 py-2 rounded-pill" target="_blank">Go to Payment</a> 
              </div>
          </div>
      </div>
      {% empty %}
          <div class="col">
              <div class="card shadow border border-primary p-3">
                  <h3 class="fs-5 small">Sorry! No donation cases list found, try other time.Thanks</h3>
              </div>
          </div>
      {% endfor %}
    </div>
  {% endif %}
  <!--case category product-->
  {% if payment_products_cases %}
    <div class="px-3 px-4 my-5 border-primary  border-bottom text-primary">
      <h3 class="text-primary fs-5">shop our products</h3>
        {% comment %} <span class="small px-6">ከሌሎች ጉዳዮች ጋር የተያያዙ ክፍያዎች</span> {% endcomment %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-2 my-2">
      {% for case in payment_products_cases %}
          <div class="col">
            <div class="card shadow border border-primary">
                {% if case.image %}
                <img src="{{ case.image.url }}"  class="img-fluid rounded-top img-fixed-size" alt="{{ case.title }}">
                {% endif %}
              <div class="card-body small">
                <h3 class="card-title fs-5">{{ case.title }}</h3>
                <hr />
                <p class="card-text small">Description : {{ case.description|safe|truncatewords:10  }}</p>
                <hr />
                <p class="card-text text-success"><strong>Amount: ${{ case.amount }}</strong></p>
                <hr />
                <div class="btn-group gap-3">
                  <a href="{% url 'payments:payment_case_detail' case.slug %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Details</a>
                </div>
                <a href="{{case.stripsPayment_link}}" class="btn btn-sm btn-primary px-3 py-2 rounded-pill" target="_blank">Go pay</a> 
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  {% endif %}

  {% else %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card shadow border border-primary p-3">
          <h4>Sorry! No payment cases list found</h6>
      </div>
    </div>
  </div>
  
{% endif %}
</div>
{% endblock %}
