{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}paymentCases cart List{% endblock %}
{% block main %}
<div class="container my-2">
<!-- Sermon  Start -->
<div class="event pb-5">
    <div class="mx-auto wow bounceInUp rounded" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown ">
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small"><a href="{% url "payments:payment_case_list" %}">paymentCaseList<span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page">PaymentConfirmation\</li>
                </ol>   
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 bolder text-light fs-4">Payment Confirmation</h3>
            <h3 class="mb-2 text-primary fs-5"></h1>
        </div>
    </div>
</div>
<div class="container mt-2 text-center">
    <div class="alert alert-success rounded-pill" role="alert">
      <h3>Your payment has been successfully processed. Thank you for your payment!</h3>
    </div>
    <a href="{% url 'payments:payment_case_list' %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Back to Payment Cases</a>
    <a href="{% url 'pages:user-dashboard' %}" class="btn btn-sm px-4 py-2 rounded-pill btn-primary">Your dashboard</a>

</div>

</div>
{% endblock %}