{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}cart Updated case paymentCases{% endblock %}
{% block main %}
<div class="container my-2">
    <!-- Sermon  Start -->
    <div class="event pb-5">
        <div class="mx-auto wow bounceInUp rounded" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-1 mt-0">
                <div class="animated bounceInDown ">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown">
                        <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class="small"><a href="{% url "payments:payment_case_list" %}">paymentCaseList<span class="px-1">\</span></a></li>
                        <li class="small"><a href="{% url "payments:paymentCaseCart_view" %}">paymentCaseCartview<span class="px-1">\</span></a></li>
                        <li class="small" aria-current="page">updatedCase<span class="px-1">\</span></li>
                    </ol>   
                </div>
            </div>
            <div class="text-center py-2">
                <h3 class="mb-2 bolder text-light fs-4">Updated Case</h3>
                <h3 class="mb-2 text-primary fs-5"></h1>
            </div>
        </div>
    </div>
    <div class="container mt-2  border border-primary rounded shadow p-3" style="max-width: 50rem">
        <h3>Update {{ object.payment_case }}</h3>
        <hr>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-sm btn-primary px-4 py-2 rounded-pill">Save Changes</button>
          <a href="{% url 'payments:paymentCaseCart_view' %}" class="btn btn-secondary btn-sm rounded-pill">Cancel</a>
        </form>
      </div>
</div>
{% endblock %}