{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Events List{% endblock %}
{% block main %}
<div class="container">
    <div class="mx-auto wow bounceInUp rounded my-2" 
        style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
        <div class="container py-1 mt-0">
            <div class="animated bounceInDown ">
                <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                    <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                    <li class="small" aria-current="page"> <a href="{% url "events:event_list" %}">events List<span class="px-1">\</span></a></li>
                </ol>
            </div>
        </div>
        <div class="text-center py-2">
            <h3 class="mb-2 text-light fs-4">መጪ ፕሮግራሞች (ክስተቶች) ዝርዝር</h3>
            <h3 class="mb-2 text-light fs-4 ">The upcoming  events List </h3>
        </div>
        <div class="text-center py-2 px-2 ">
            <p class="small">ሁላችሁም ኦርቶዶክሳውያን በመጪው በሚከናወኑ ፕሮግራሞች ላይ እንድንሳተፍ  ቤተክርስቲያናችን በእግዚአብሔር ስም ጥሪ ታቀርባለች!!</p>
            <p class="h2 fs-6 text-primary small">In the name of God, our church is inviting all of you Orthodox people to participate in the upcoming programs!!</p>
        </div>
    </div>
    <div class="container my-4">
        <h2 class="mb-4 fs-4">Upcoming  events</h2>
        <hr>
        <div class="row pt-3">
            {% if active_events %}
                {% for event in active_events %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-title fs-5">{{ event.title }}</h2>
                                <hr>
                                <h2 class="card-title fs-5">{{ event.start_time }}</h2>
                                <hr>
                                <p class="card-text small">{{ event.description|truncatewords:30 }}</p>
                                <hr>
                                <a href="{% url 'events:event_detail' event.slug %}" class="btn btn-sm btn-outline-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-6 mb-2">
                    <div class="card shadow">
                        <img src="{% static 'img/noUpComingEvents.png' %}" class="card-img-top" alt="noUpComingEvents">
                        <div class="card-body">
                            <p class="small">እናዝናለን! ለጊዜው፣ ምንም የተዘረዘሩ መጪ ክስተቶች የሉም። እባክዎ ቆየት ብለው ይሞክሩ.</p>
                            <hr>
                            <p class="small">We apologize! Currently, there are no upcoming events listed. Please check back later.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mb-4 pt-5 fs-4 ">Past events list | <span class="small fs-6 text-primary">ያለፉ ክስተቶች ዝርዝር</span></h2>
        <hr>
        <div class="row pt-3">
            {% for event in events %}
                {% if event.status_tag == 'past' %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-title fs-5">{{ event.title }}</h2>
                                <hr>
                                <h2 class="card-title fs-5">{{ event.start_time}}</h2>
                                <hr>
                                <p class="card-text small">{{ event.description|truncatewords:30 }}</p>
                                <hr>
                                <a href="{% url 'events:event_detail' event.slug %}" class="btn btn-sm btn-outline-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}