{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}youth School {% endblock %}
{% block main %}
<div class=" ">
      <!-- Service Start -->
      <div class="service ">
        <div class="mx-0 py-2  wow bounceInUp" height="100%"
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
             <!-- breadcrumb Start -->
             <div class="container animated bounceInDown py-1 mt-0">
                <div class=" ">
                    <ol class="breadcrumb justify-content-start mb-0 ">
                        <li class="small"><a href="{% url 'pages:homepage' %}">Home <span class="px-1">\</span></a></li>
                        <li class="small"><a href="{% url 'schools:school' %}">Schools<span class="px-1">\</span></a></li>
                        <li class="small" aria-current="page">youthSchool</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center ">
                {% comment %} <div class="text-center py-4">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">
                        <i class="fas fa-school fa-3x text-primary mb-4 text-center px-2"></i>
                        Sunday School for Youth</small>
                </div> {% endcomment %}
                <h3 class="mb-3 bolder text-light">ለወጣቶች አብነት ትምህርት</h3>
                <h3 class="mb-3 text-light ">Sunday Youth School</3>
            </div>
            
        </div>
        <div class="container py-3">
            
            <div class="row g-4">
                <div class="col-lg-12 col-md-12 col-sm-12 wow bounceInUp " data-wow-delay="0.5s">
                    <div class="bg-light rounded service-item">
                        <div class="service-content p-4">
                            <div class="service-content-icon text-center">
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
   
</div>
{% endblock %}